*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* *** *** Root Styles *** *** */
:root {
    --primaryColor: #EB028A;
    --secondaryColor: #692A92;
    --thirdColor: #25ff2b;
    --backgroundColor: #eeeeee;
    --black: #000;
    --white: #fff;
    --darkGrey: #4D4C4D; 
    --mediumGrey: #c7c7c7; 
    --lightGrey: #F1F1F1; 
    --aqua: #4ee2d5;
    --pink: #ff99cf;
    --red: #e34e5c;
    --offMint: #b9d08d;
    --softNavy: #018499;
    --yellow: #fcc904;
}

html {
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
}

/* *** *** Font *** *** */
p, h1, h2, h3, h4, h5, h6, li {
    font-weight: 100;
    line-height: 1.2em;
    letter-spacing: 0.05em; 
    color: var(--lightGrey);
    cursor: default;
}

/* *** *** Body *** *** */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    overscroll-behavior-y: none;
    width: 100%;
}
@media only screen and (max-width:1000px) {
    #body {
        display: none;
    }
}

/* *** *** NavBar Section *** *** */
#nav-bar {
    position: fixed;
    width: 100%;
    background: var(--primaryColor);
    box-shadow: 0em 0em 1em 0em var(--darkGrey);
    z-index: 999;
}
#nav-bar-home-big {
    position: fixed;
    width: 100%;
    background: var(--primaryColor);
    box-shadow: 0em 0em 1em 0em var(--darkGrey);
    z-index: 999;
    animation: MoveDown 5.5s linear;
    -webkit-animation: MoveDown 5.5s linear;
    -moz-animation: MoveDown 5.5s linear;
    -o-animation: MoveDown 5.5s linear;
}

.navbar-wrapper {
    display: grid;
    padding: 0.5em 1em;
    width: 100%;
    gap: 1em;
    align-items: center;
    overflow: hidden;
    grid-auto-flow: column;
    grid-template-columns: 3.5fr 8fr;
    grid-template-rows: auto-fit;
}

#navbar-title {
    justify-self: start;
}
#navbar-title img {
    margin: 0em 0em -0.4em 0em; 
    width: 80px;
    height: auto;
    overflow: hidden;
}
#navbar-title h1 {
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--lightGrey);
    font-size: x-large;
}

/* *** *** Search Bar *** *** */
.navbar-search {
    display: grid;
    width: 90%;
    padding: 0.2em;
    background: var(--secondaryColor);
    border: solid 0.13em var(--lightGrey);
    border-radius: 2em; 
    box-shadow: 0px 0px 15px -5px var(--darkGrey);
    justify-self: end;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: auto;
}
.searchText {
    display: grid;
    align-self: center;
    justify-self: start;
    padding-left: 0.5em;
}
.searchText h4 {
    color: var(--lightGrey);
    letter-spacing: 0.1rem; 
}
.searchIcon {
    display: grid;
    align-self: center;
    justify-self: end;
}
.navbar-search:hover 
.searchIcon {
    transform: rotateY(180deg);
}

/* *** *** Nav Menu *** *** */
.nav-menu-container {
    align-self: center;
    justify-self: end;
}

.nav-menu-container ul {
    border-top: double 0.2em var(--secondaryColor);
    border-bottom: double 0.2em var(--secondaryColor);
    background: var(--primaryColor);
    margin-top: 0.1em;
    padding: 0.4em 0.3em 0.3em 0.3em;
    justify-items: center;
}
.nav-menu-container li {
    display: inline-block;
    width: auto;
    line-height: 1em;
    list-style: none;
    font-size: 18px;
}
.nav-menu-container li a {
    color: var(--lightGrey);
    text-decoration: none;
    cursor: pointer;
    padding: 0.4em 0.3em 0.3em 0.3em;
}
.nav-menu-container li :hover {
    padding: 0.3em 0.3em 0.3em 0.3em;
    background-color: var(--secondaryColor);
    color: var(--lightGrey);
    border-radius: 2em;
}

/* *** ***  Toggle Menu *** *** */
.toggle-menu {
    position: absolute;
    z-index: 99;
    top: -0.5em;
    right: 0;
}

.toggle-menu #myLinks {
    display: none;
    text-align: right;
    min-height: auto;
    min-width: 18vw;
    margin: 4.5em 1.5em;
    background: var(--primaryColor);
    border: var(--lightGrey) solid 0.15em;
    box-shadow: 5px 5px 20px 0px var(--darkGrey);
    border-radius: 1.5em;
}
.toggle-menu a {
    padding: 0.5em 1em;
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    color: var(--lightGrey);
}
.toggle-menu a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.toggle-menu a:hover {
    color: var(--secondaryColor);
    cursor: pointer;
    font-weight: 500;
}
.fa-main-bars:before {
    content: url("../media/toggleIcon_white.svg");
    cursor: pointer;
} 

.fa-main-bars:hover {
    content: url("../media/toggleIcon_purple.svg");
    cursor: pointer;
}

 /* *** *** Header Section *** *** */
#header-section {
    padding: 3.7em 0em 0em 0em;
}    
.grid-container-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 4fr 2fr;
    gap: 1.5em;
    background: var(--secondaryColor);
    margin-top: -0.5em;
    padding-top: 0.5em;
}
/* *** *** LOGO *** *** */
.logo-header {
    justify-self: start;

}
.logo-header img {
    padding: 1em;
    width: 150px;
    height: auto;
}
/* *** *** DATES FESTIVAL *** *** */
.festival-date {
    justify-self: center;
    padding: 0.5em 0em 0em 0em;
}
.festival-date h2 {
    color: var(--secondaryColor);
    text-shadow: 0.1em 0.1em var(--primaryColor);
}
.festival-date h4 {
    padding: 0.2em 0em 0em 0.3em;
}
/* *** *** SUBTITLES *** *** */
.header-subtitles {
    justify-self: center;
    width: 70%
}
.header-subtitles p {
    margin: 0.3em 0em 0.2em 0em;
    padding: 0.3em;
    background-color: var(--secondaryColor);
    text-decoration: none;
    filter: drop-shadow(0px 1px var(--primaryColor));
}
.header-subtitles span {
    position: absolute;
    padding: 0.15em 0em 0em 1em;

} 
.header-subtitles p:hover {
    margin: 0.3em 0em 0.2em 0em;
    padding: 0.3em;
    background: var(--primaryColor);
    color: var(--secondaryColor);
    text-decoration: none;
    border-radius: 1em;
    filter: none;
    cursor: pointer;
}

.header-subtitles-bigmain {
    justify-self: center;
    width: 70%
}
.header-subtitles-bigmain p {
    margin: 0.3em 0em 0.2em 0em;
    padding: 0.3em;
    background-color: var(--secondaryColor);
    text-decoration: none;
    filter: drop-shadow(0px 1px var(--primaryColor));
} 
/* *** ***  TICKET ICON *** *** */
.ticket-icon {
    justify-self: center;
    z-index: 99;
    animation: name-of-animation 8s infinite;
}
.ticket-icon img {
    width: 125px;
    height: auto; 
    filter: hue-rotate(340 deg);
}
@keyframes name-of-animation {
    0%  { opacity: 1; }
    5%  { opacity: 0; }
    10%  { opacity: 1; }
    15%  { opacity: 0; }
    20%  { opacity: 1; }
    100%  { opacity: 1; }
}
.ticket-icon a:hover {
    animation: icon-hover 1s infinite;
    cursor: pointer;
    color: var(--primaryColor);
}
@keyframes icon-hover {
    0%, 100%  { -webkit-filter: hue-rotate(300deg); }
    50% { -webkit-filter: hue-rotate(360deg); }
}
.ticket-icon p {
    display: none;
}
.ticket-icon p:hover {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
body:has(.ticket-icon a:hover)
.ticket-icon p {
    display: block;
    position: absolute;
    top: -2.5em;
    right: -0.5em;
    font-size: x-large;
    font-weight: 900;
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
}
body:has(.ticket-icon p:hover)
.ticket-icon p {
    display: block;
    position: absolute;
    top: -2.5em;
    right: -0.5em;
    font-size: x-large;
    font-weight: 900;
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
}
body:has(.ticket-icon p:hover)
.ticket-icon a {
    animation: icon-hover 1s infinite;
    cursor: pointer;
    color: var(--primaryColor);
}

/* *** *** General Background *** *** */ 
.background {
    background-image: url(../media/concert-3084876_640.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    animation: bg-img-hue 3s infinite;
    height: 500px;
}

@keyframes bg-img-hue {
    0%  { -webkit-filter: hue-rotate(0deg); }
    50% { -webkit-filter: hue-rotate(300deg); }
}
@-webkit-keyframes flash {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}
@keyframes flash {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

/* *** *** HERO BANNER Section *** *** */
.first-section-container {
    position: relative;
    display: grid;
    height: 500px;
    grid-auto-flow: column;
    gap: 1em;
    margin-top: -500px;
}
/* *** *** WEEKEND ACTS ANNOUNCEMENT *** *** */
.weekend-acts {
    position: absolute;
    margin: 3em;
}
.weekend-acts h1 {
    font-size: xx-large;
    font-weight: 700;
}
.weekend-acts h3 {
    padding: 0.5em 0.5em 0em 0.2em;
    font-weight: 400;
    font-style: italic;
}
.weekend-acts span {
    color: var(--backgroundColor);
    background: var(--primaryColor);
    padding: 0.1em 0.5em;
    font-style: normal;
}

/* *** *** HIDDEN header subtitles *** *** */
.header-subtitles-cards {
    position: absolute;
    width: 50vw;
    height: auto;
    display: none;
    justify-self: end;
    align-self: center;
    text-align: right;
    margin-top: -5em;
}
.header-subtitles-cards h1 {
    font-size: x-large;
    padding: 2em;
}
.header-subtitles-cards span {
    font-size: x-large;
    color: var(--lightGrey);
    background: var(--primaryColor);
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 1em;
}
body:has(#networks-title:hover)
.networks {
    display: block;
    cursor: pointer;
}
body:has(#communities-title:hover)
.communities {
    display: block;
    cursor: pointer;
}
body:has(#inclusivity-title:hover)
.inclusivity {
    display: block;
    cursor: pointer;
}
.background p {
    color: var(--lightGrey);
}
/* *** *** Countdown Clock *** *** */
.countdown-container {
    display: flex;
    width: auto;
    padding: 3em;
    align-self: end;
}
.countdown-sub-container {
    padding: 1em;
    background: var(--secondaryColor);
    border-radius: 1rem;
    opacity: 0.7;
}
.countdown-sub-container h2 {
    padding: 0em 0em 0.5em 0em;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    color: var(--primaryColor);
}
.digits-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.clock-circle {
    display: grid;
    width: 3em;
    height: 3em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    border: solid 0.1em white;
    border-radius: 50%;
}
.clock-label {
    display: grid;
    width: 100px;
    height: auto;
    margin-right: 0.2em;
    margin-left: 0.2em;
}
.digits-container h1 {
    display: grid;
    font-size: 2em;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.digits-container p {
    display: grid;
    font-size: 1.2em;
    font-weight: 100;
    padding-top: 0.5em;
    justify-content: center;
    align-items: center;
}
.first-section-container1 {
    display: none;
}

/* *** *** Information Section *** *** */
#information-section {
    padding: 4em;
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    border-top: solid 0.2em var(--primaryColor);
    border-bottom: solid 0.2em var(--backgroundColor);
}
#information-section-home {
    padding: 3em 4em 4em 4em;
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    border-top: solid 0.2em var(--primaryColor);
    border-bottom: solid 0.2em var(--backgroundColor);
}
#information-section-bigpages {
    padding: 4em;
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
}
.information-container {
    width: auto;
}
.information-container h3 {
    padding: 1em 0em 0em 0.4em;
    color: var(--secondaryColor);
    font-weight: 600;
}
.information-container p {
    padding: 0.5em;
    text-align: justify;
}
.information-container span {
    position: absolute;
    font-weight: 600;
    padding: 0.16em 0em 0em 0.5em;
}
.information-container a {
    color: var(--backgroundColor);
    font-weight: 600;
    text-decoration: none;
}

.information-container img {
    width: 100vw;
    height: auto;
    border-top: solid 0.1em var(--backgroundColor);
    border-bottom: solid 0.1em var(--backgroundColor);
    filter: hue-rotate(300deg);
}

/* *** *** Information Section Info Cards *** *** */
.info-cards-container {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    padding: 1.5em 0em 1em 0em;
    align-items: center;
    justify-content: center;
}
.info-cards{
    display: flex;
    flex-flow: column wrap;
    width: 18vw;
    height: 300px;
    box-shadow: 1px 1px 10px -5px var(--darkGrey);
    border-radius: 1rem;
    filter: drop-shadow(-0.5em 0.5em var(--primaryColor));
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arts { 
    background-image: url(../media/istockphoto-1502556789-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.culture {
    background-image: url(../media/istockphoto-1323377064-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sports {
    background-image: url(../media/istockphoto-1369076485-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.advocacy {
    background-image: url(../media/istockphoto-1498993169-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-cards:hover{
    padding: 2em 0.5em;
    background: var(--backgroundColor);
    justify-content: start;
}
.info-cards h1 {
    color: var(--backgroundColor);
    text-shadow: 0.1em 0.1em var(--primaryColor);
    font-weight: 900;
    font-size: x-large;
    cursor: pointer;
}
body:has(.culture:hover)
.culture h1 {
    color: var(--primaryColor);
    text-shadow: none;
    font-weight: 900;
    font-size: x-large;
}
body:has(.arts:hover)
.arts h1 {
    color: var(--primaryColor);
    text-shadow: none;
    font-weight: 900;
    font-size: x-large;
}
body:has(.sports:hover)
.sports h1 {
    color: var(--primaryColor);
    text-shadow: none;
    font-weight: 900;
    font-size: x-large;
}
body:has(.advocacy:hover)
.advocacy h1 {
    color: var(--primaryColor);
    text-shadow: none;
    font-weight: 900;
    font-size: x-large;
}
.info-cards p {
    display: none;
    color: var(--secondaryColor);
    font-size: larger;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
body:has(.culture:hover)
.culture p {
    display: block;
}
body:has(.arts:hover)
.arts p {
    display: block;
}
body:has(.sports:hover)
.sports p {
    display: block;
}
body:has(.advocacy:hover)
.advocacy p {
    display: block;
}

/* *** *** Take Part Section *** *** */
#take-part-section {
    padding: 2em 4em 3em 4em;
    width: 100%;
    height: auto;
    background-image: url(../media/twoladysingers.gif);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
.take-part-title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px;
    gap: 4em;
}
.take-part-title img {
    width: 200px; 
    height: auto; 
    display: inline;
}
#take-part-section h1 {  
    font-size: xx-large;
    font-weight: 900;
    color: var(--yellow);
    text-shadow: 2px 2px var(--primaryColor);
    align-self: center;
}
#take-part-section h4 {
    font-size: large;
    color: var(--backgroundColor);
    font-weight: 500;
    text-align: justify;
    padding: 0em 1em 0em 1.65em;
}
/* *** *** Take Part LABELS *** *** */
.take-part-card-section {
    display: grid;
    justify-content: center;
}
.take-part-card-container {
    width: 70vw;
    background: var(--backgroundColor);
    margin-bottom: 2em;
    padding: 1em 0em;
    border-right: solid 0.5em var(--primaryColor);
    box-shadow: 1px 1px 10px -5px var(--lightGrey);
    border-radius: 0.5em;
    cursor: none;
    opacity: 0.7;
}
.take-part-card-container-top {
    width: 70vw;
    background: var(--primaryColor);
    margin-bottom: 2em;
    padding: 1em 0em;
    box-shadow: 1px 1px 10px -5px var(--lightGrey);
    border-radius: 0.5em;
    cursor: none;
    opacity: 0.7;
}
button {
    border: none;
}
.take-part-card-container:hover {
    opacity: 1;
}
.take-part-card-container-top:hover {
    opacity: 1;
}

.take-part-card-container h2 {
    color: var(--secondaryColor);
    font-weight: 500;
    border-left: solid 0.5em var(--primaryColor);
    line-height: 2em;
   cursor: none;
    text-align: left;
    padding: 0em 0em 0em 0.8em;
    font-size: x-large;
}
.take-part-card-container p {
    color: var(--secondaryColor);
    text-align: justify;
    padding: 0.5em 2em;
}
.take-part-card-container h3 {
    color: var(--secondaryColor);
    font-weight: 400;
    text-align: justify;
    padding: 1em 1em 0em 1.65em;
}
.take-part-card-container span {
    font-weight: 500;
}
.take-part-card-container li {
    color: var(--secondaryColor);
}
.take-part-card-container ul {
    padding: 0.5em 2em 0em 4em;
    font-weight: 300;
    text-decoration: none;
    cursor: default;
}
.take-part-card-container a {
    color: var(--secondaryColor);
    cursor: pointer;
    text-decoration: none;
}



/* *** *** Take Part Pop-up *** *** */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 0.5em solid var(--primaryColor);
    border-radius: 2em;
    z-index: 10;
    background-color: var(--backgroundColor);
    width: 50%;
    max-height: 70%;
    max-width: 90%;
    padding: 1.5em 2em 0em 2em;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header h2 {
    color: var(--secondaryColor);
    font-weight: 500;
    text-align: justify;
}
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    color: var(--primaryColor);
}
.modal-body {
    padding: 1em 0em;
    color: var(--secondaryColor);
}
.modal-body p {
    color: var(--secondaryColor);
    text-align: justify;
    padding: 0.5em 0em;
}
.modal-body h3 {
    color: var(--secondaryColor);
    font-weight: 500;
    text-align: justify;
    padding: 1em 0em 0em 0em;
}
.modal-body span {
    font-weight: 500;
}
.modal-body li {
    color: var(--secondaryColor);
}
.modal-body ul {
    padding: 0.5em 0em 0em 1.5em;
    font-weight: 300;
    text-decoration: none;
    cursor: default;
}
.modal-body a {
    color: var(--secondaryColor);
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* *** *** partners section *** *** */
#partners-section {
    margin-top: -300px;
    width: 100%;
    height: auto;
    background-image: linear-gradient(transparent 0%, #EB028A 50%, #692A92 100%);
    display: grid;
    justify-items: center;
    padding: 300px 2em 2em 2em;
}
.partners-title {
    width: 80vw;
    display: grid;
    justify-items: center;
}
.partners-title h1 {  
    font-size: xx-large;
    font-weight: 900;
    color: var(--lightGrey);
    text-shadow: 2px 2px var(--primaryColor);
}
.partners-title-mainpage {
    width: 90vw;
    display: grid;
    justify-items: center;
}
.partners-title-mainpage h1 {  
    font-size: xx-large;
    font-weight: 900;
    color: var(--primaryColor);
    text-shadow: 2px 2px var(--secondaryColor);
}
.partners-information {
    padding: 2em 0em;
    width: 90vw;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
}
.partners-information-mainpage {
    width: 90vw;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
}
.grid-item-partners {
    gap: 2em;
}
.grid-item-partners img {
    width: 100px; 
    height: auto;
}
.library {
    filter: invert(100%);
    display: inline-block;
    width: 20vw; 
    height: auto;
}

/* *** *** News Section *** *** */
#news-section {
    padding: 4em;
    width: 100%;
    height: auto;
    background: var(--lightGrey);
    border-top: solid 0.2em var(--primaryColor);
}
#news-section h2 {  
    padding: 0em 1em;
    font-size: 50px;
    font-weight: 500;
    color: var(--secondaryColor);
}
#news-section span {  
    color: var(--darkGrey);
}

/* *** *** News Scroll Panel *** *** */
.panel-scroll {
    white-space: nowrap;
    margin: 1em 3.5em;
    padding: 0.5em;
    overflow: hidden;
    border-right: solid var(--secondaryColor) 5em;
    border-left: double var(--secondaryColor) 1em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.panel-scroll h3 {
    font-size: x-large;
    color: var(--darkGrey);
    transform:translateX(100%);
    animation: scroll-left 25s linear infinite;
}
@keyframes scroll-left {
    0% {transform: translateX(100%);}
    100% {transform: translateX(100%);}
}

/* *** *** Sharing News *** *** */
.sharedNews {
    width: auto;
    margin: 1em 3.5em;
}
.sharedNews p {
    color: var(--darkGrey);
}
.sharedNews span {
    font-weight: 500;
}
.sharedNews a {
    color: var(--darkGrey);
    text-decoration: none;
}

/* *** *** News Items *** *** */
.newsPanelCard {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    margin: 1em 3.5em;
    background-color: var(--white);
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px -10px var(--darkGrey);
    padding: 1em 1.5em;
}
.newsPanelCard:hover {
    filter: brightness(90%);
    transition-delay: 0.1s;
}
.newsPanelCard p {
    color: var(--darkGrey);
}
.newsPanelCard h3 {
    color: var(--darkGrey);
    padding: 0em 0em 0.5em 0em;
    font-weight: 500;
}
.newsPanelCardTopLine {
    display: flex;
    width: 100%;
}
.newsPanelCardTopLine p {
    color: var(--secondaryColor);
}
.newsPanelCardTopLineImage {
    display: flex;
    flex: 0.2;
}
.newsPanelCardTopLineName {
    display: flex;
    flex: 1;
    margin-left: 0.5em;
    align-items: center;
}
.newsPanelCardTopLineTime {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
.newsPanelCardContent {
    display: flex;
    flex-flow: row wrap;
    padding: 1em 0em 0em 0em;
}
.newsPanelCard-first {
    background-color: var(--primaryColor);
}
.newsPanelCard-first:hover {
    filter: brightness(100%);
}
.newsPanelCard-first p {
    color: var(--lightGrey);
}
.newsPanelCard-first h3 {
    color: var(--lightGrey);
}
.newsPanelCardTopLine-first p {
    color: var(--secondaryColor);
}

/* *** *** Footer *** *** */
#footer {
    background-color: var(--secondaryColor);
    padding: 0 0 50px 0;
}

#footer-home-big {
    background-color: var(--secondaryColor);
    padding: 0 0 50px 0;
    animation: fadeinmainsmall 5s linear;
    -webkit-animation: fadeinmainsmall 5s linear;
    -moz-animation: fadeinmainsmall 5s linear;
    -o-animation: fadeinmainsmall 5s linear;
}

.footer-container {
    padding: 0em 2em 2em 2em;
}
.footer-container h1 {
    border-bottom: solid 0.1rem var(--lightGrey);
    padding: 0em 0em 0.2em 0em;
    width: 70vw;
    color: var(--secondaryColor);
    text-shadow: 0.1em 0.1em var(--primaryColor);
}
.footer-info-container {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    align-items: start;
    justify-content: start;
}
.footer-info-cards {
    display: flex;
    flex-flow: column wrap;
    width: 20vw;
    height: auto;
    padding: 0.5em 0em 0em 0.3em;
    align-self: center;
}
.footer-info-cards p {
    line-height: 1.5em;
}
.footer-info-cards img {
    position: absolute;
    width: 125px;
    height: auto;
    right: 0;
    margin: -4em 2em 0em 0em;
}

/* *** *** Footer Buttons *** *** */
.footer-buttons {
    display: flex;
    width: 20vw;
    height: 3em;
    padding: 0.6em;
    border-radius: 2em;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border: solid 0.1em var(--lightGrey);
    font-size: 1em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.footer-buttons:hover {
    color: var(--secondaryColor);
    background-color: var(--lightGrey);
    border-color: var(--secondaryColor);
    cursor: pointer;
}

/* *** *** Footer Copyright *** *** */
.footer-copyright {
    background-color: var(--primaryColor);
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    box-shadow: 0em 0em 0.2em 0em var(--darkGrey);
    z-index: 2;
}
.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 30px;
    text-align: center;
    width: 100%;
}
.footer-copyright-text {
    color: var(--lightGrey);
    margin-bottom: 0;
    margin-top: 0;
}

/* *** *** Bttom of main pages *** *** */
#news-section-bigpages {
    padding: 4em;
    width: 100%;
    height: auto;
    background: var(--lightGrey);
    border-top: solid 0.2em var(--primaryColor);
}
.information-container-about-bottom-big h3 {
    color: var(--primaryColor);
    font-weight: 600;
}
.information-container-about-bottom-big p {
    padding: 0.5em 0em 0em 0em;
    color: var(--secondaryColor);
}
.information-container-about-bottom-big a {
    text-decoration: none;
    color: var(--secondaryColor);
}
.information-container-about-bottom-big span {
    position: absolute;
    padding: 0.16em 0em 0em 0.5em;
}
/* *** *** Contact Form *** *** */
.contact-form-big-page-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 300px;
    gap: 0em;
}
.contact-form-title-big h1 {
    font-size: xx-large;
    font-weight: 900;
    background: linear-gradient(to right,#EB028A, #692A92, #f2f6f8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
#envelope-big {
    padding: 4em 0em 0em 0em;
    width: 50%;
    height: auto;
    justify-self: center;
    animation: float 2s ease-in-out infinite;
}
#contactformpaperforms-big {
    padding: 0em 2em;
    width: 100%;
    height: 900px;
}

/* *** *** OTHER DECORATIVE ELEMENTS *** *** */
/* *** *** Waves *** *** */
.wave-svg-header {
    position:absolute;
    width: 100%;
    height: 1.3em;
    z-index: 1;
}
.wave-path-header {
    fill: var(--secondaryColor);
}

.wave-svg-footer {
    width: 100%;
    height: 1.3em;
    z-index: 1;
}
.wave-path-footer {
    fill: var(--lightGrey);
}

/* *** *** Social Media Links *** *** */
.footer-socials-container {
    position: fixed;
    bottom: 49px;
    right: 0;
    height: 50px;
    width: 260px;
    z-index: 2;
}
.footer-socials-svg {
    height: 50px;
    width: 236px;
    fill: var(--primaryColor);
}
.footer-social-link {
    padding: 10px;
    position: absolute;
}
.instagram {
    fill: var(--secondaryColor);
    left: 12px;
    top: 12px;
}
.instagram:hover {
    fill: var(--lightGrey);
}
.tiktok {
    fill: var(--secondaryColor);
    left: 66px;
    top: 4px;
}
.tiktok:hover {
    fill: var(--lightGrey);
}
.threads {
    fill: var(--secondaryColor);
    left: 123px;
    top: 13px;
}
.threads:hover {
    fill: var(--lightGrey);
}
.facebook {
    fill: var(--secondaryColor);
    left: 171px;
    top: 10px;
}
.facebook:hover {
    fill: var(--lightGrey);
}

/* *** *** DOWN ARROW *** *** */
.arrow-bounce {
    position: fixed;
    left: 49%;
    bottom: 0px;
    height: 40px;
    width: 40px;
    margin-bottom: 4em;
    animation: bounce 1.5s infinite;
    z-index: 3;
    cursor: pointer;
  }
  @-webkit-keyframes bounce {
    0%       {bottom: 0px;}
    50%      {bottom: 10px;}
    100%     {bottom: 20;}
  }
   @-moz-keyframes bounce {
    0%       {bottom: 0px;}
    50%      {bottom: 10px;}
    100%     {bottom: 20;}
  }
   @-o-keyframes bounce {
    0%       {bottom: 0px;}
    50%      {bottom: 10px;}
    100%     {bottom: 20;}
  }
   @keyframes bounce {
    0%       {bottom: 0px;}
    50%      {bottom: 10px;}
    100%     {bottom: 20;}
  }

  /* *** *** TICKETS PAGE *** *** */

  .background-tickets {
    background-image: url(../media/twoladysingers.gif);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    height: 700px;
}

.tickets-page-title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px;
    gap: 4em;
}
