/* *** ***  Body and background - small screen *** *** */
@media only screen and (min-width:768px) {
    #body-small {
        display: none;
    }
}
#body-small {
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
}

#main-small {
    animation: fadeinmainsmall 1s;
    -webkit-animation: fadeinmainsmall 1s;
    -moz-animation: fadeinmainsmall 1s;
    -o-animation: fadeinmainsmall 1s;
}
@keyframes fadeinmainsmall {
    0% { opacity: 0 }
    80% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes fadeoutmainsmall {
    0% { opacity: 1 }
    80% { opacity: 1 }
    100% { opacity: 0 }
}

.background-small {
    background-image: url(../media/concert-3084876_640.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    animation-name: bg-img-hue, fadeinmainsmall;
    animation-duration: 3s, 1s;
    animation-iteration-count: infinite, 1;
    -webkit-animation-name: bg-img-hue, fadeinmainsmall;
    -moz-animation-name: bg-img-hue, fadeinmainsmall;
    -o-animation-name: bg-img-hue, fadeinmainsmall;
    height: 750px;
    max-width: 100%;
}

/* *** ***  Nav section - small screen *** *** */
#nav-bar-small {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background: var(--primaryColor);
    box-shadow: 0em 0em 1em 0em var(--darkGrey);
    padding: 0.5em;
    z-index: 99;
    animation: fadeinmainsmall 1s;
    -webkit-animation: fadeinmainsmall 1s;
    -moz-animation: fadeinmainsmall 1s;
    -o-animation: fadeinmainsmall 1s;
}

.navbar-wrapper-small {
    display: grid;
    padding: 0.5em 1em;
    max-width: 100%;
    gap: 1em;
    align-items: center;
    overflow: hidden;
    grid-auto-flow: column;
    grid-template-columns: 10fr 1.5fr;
    grid-template-rows: auto-fit;
}
#navbar-title-small {
    justify-self: start;
}
#navbar-title-small h1 {
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--lightGrey);
    font-size: 4vw;
}
/* *** ***  Toggle Menu - small screen *** *** */
.toggle-menu-small {
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    -webkit-tap-highlight-color: transparent; 
}
.toggle-menu-small #myLinks-small {
    display: none;
    min-height: 100vh;
    min-width: 100vw;
    text-align: right;
    background: var(--primaryColor);
    padding-top: 4em;
    -webkit-tap-highlight-color: transparent; 
}
.toggle-menu-small li {
    list-style-type: none;
}
.toggle-menu-small a {
    color: var(--lightGrey);
    text-decoration: none;
    font-size: 6vw;
    font-weight: 100;
    line-height: 1.7em;
    padding: 0em 1em;
    -webkit-tap-highlight-color: transparent; 
}
.iconSmall {
    position: absolute;
    right: 5px;
    top: 5px;
    -webkit-tap-highlight-color: transparent; 
}
.fa-main-bars-small {
    content: url("../media/toggleIcon_white.svg");
    -webkit-tap-highlight-color: transparent; 
} 
.menu-title-small h1 {
    text-align: left;
    font-size: 11vw;
    font-weight: 900;
    padding: 0.1em 1.5em 0.1em 0.5em;
    color: var(--backgroundColor);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
}
.menu-title-small h5 {
    font-size: 4vw;
    font-weight: 400;
    text-align: left;
    padding: 0em 0em 0em 1.7em;
}
.menu-title-small h2 {
    padding: 4em 0em 0em 1.7em;
    text-align: left;
    color: var(--lightGrey);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
    font-size: 4vw;
    font-weight: 400;
}
.menu-title-small span {
    font-size: 3.5vw;
    font-weight: 300;
    font-style: italic;
}

/* *** *** HERO BANNER Section - small *** *** */
#hero-banner-small {
    position: absolute;
    top: 8em;
    width: 100%;
    animation: fadeinmainsmall 6s;
    -webkit-animation: fadeinmainsmall 6s;
    -moz-animation: fadeinmainsmall 6s;
    -o-animation: fadeinmainsmall 6s;
}
/*
#hero-transform-text {
    visibility: visible;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition-delay: 6s;
}*/
.title-small {
    margin: 0em 0em 0em 2em;
}
.title-small h1 {
    color: var(--lightGrey);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
    font-size: 4vw;
    font-weight: 400;
}
.title-small span {
    color: var(--lightGrey);
    font-size: 3.5vw;
    font-weight: 400;
    font-style: italic;
    text-shadow: none;
}
.weekend-acts-small {
    text-align: center;
    animation: bg-img-hue 3s infinite;
    -webkit-animation: bg-img-hue 3s infinite;
    -moz-animation: bg-img-hue 3s infinite;
    -o-animation: bg-img-hue 3s infinite;
}
.weekend-acts-small h1 {
    font-size: 11vw;
    font-weight: 900;
    line-height: 6vh;
    padding: 0.1em 0em 0.2em 0em;
    color: var(--backgroundColor);
    text-shadow: 0.1em 0.1em var(--primaryColor);
}
.weekend-acts-small h5 {
    width: auto;
    font-size: 4vw;
    font-weight: 400;
    text-align: right;
    margin: 0em 1.5em 0em 0em;
}
.weekend-acts-sub-small {
    text-align: center;
}
.weekend-acts-sub-small p {
    width: auto;
    font-size: 4vw;
    font-weight: 400;
    line-height: 6vw;
}
.weekend-acts-sub-small a {
    text-decoration: none;
    color: var(--backgroundColor);
}

/* *** *** Countdown Clock *** *** */
.countdown-sub-container1 {
    display: block;
    margin: 4em 0em;
    padding: 0.5em;
    background: var(--primaryColor);
    opacity: 0.5;
}
.countdown-sub-container1 h2 {
    padding: 0em 0em 0.7em 0em;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    color: var(--backgroundColor);
}
.digits-container1 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.clock-circle1 {
    display: grid;
    width: 3em;
    height: 3em;
    margin-right: auto;
    margin-left: auto;
    border: solid 0.1em white;
    border-radius: 50%;
}
.clock-label1 {
    display: grid;
    width: 100px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.digits-container1 h1 {
    display: grid;
    font-size: 2em;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.digits-container1 p {
    display: grid;
    font-size: 1.2em;
    font-weight: 100;
    padding-top: 0.5em;
    justify-content: center;
    align-items: center;
}


/* *** *** information Section - small *** *** */
#information-section-small {
    position: relative;
    padding: 1em;
    max-width: 100%;
    height: auto;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    border-top: solid 0.2em var(--primaryColor);
    border-bottom: solid 0.2em var(--backgroundColor);
}
.information-container-small {
    width: auto;
}
.information-container-small h3 {
    padding: 1em 0em 0em 0.4em;
    color: var(--secondaryColor);
    font-size: 5.5vw;
    font-weight: 600;
}
.information-container-small p {
    padding: 0.5em;
    font-size: 4vw;
}
.information-container-small span {
    position: absolute;
    padding: 0.16em 0em 0em 0.5em;
}
.information-container-small a {
    font-size: 4.5vw;
    text-decoration: none;
    color: var(--backgroundColor);
    font-weight: 500;
}

/* *** *** subtitles Section - small *** *** */
.subtitles-small {
    position: relative;
    text-align: center;
    margin: 1em;
}
.subtitles-small h3 {
    font-size: 3vw;
    font-weight: 400;
    padding: 0.5em 0em;
}
.subtitles-small span {
    position: absolute;
    padding: 0.15em 0em 0em 0.5em;
}

/* *** *** HIDDEN header subtitles *** *** */
.header-subtitles-cards-small {
    width: auto;
    height: auto;
    background: var(--lightGrey);
    padding: 1em;
    margin: 1em 0.5em;
    border-radius: 0.5em;
}
.header-subtitles-cards-small h1 {
    font-size: 4vw;
    color: var(--secondaryColor);
}
.header-subtitles-cards-small span {
    color: var(--primaryColor);
    font-weight: 500;
}

/* *** *** Take Part  *** *** */
#take-part-section-small {
    padding: 1em;
    max-width: 100%;
    height: auto;
    background-image: url(../media/twoladysingers.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
}
.take-part-title-small {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px;
    gap: 0.1em;
    padding: 0em 0em 1em 0em;
}
.take-part-title-small img {
    width: 150px; 
    height: auto; 
    display: inline;
}
#take-part-section-small h1 {  
    font-size: 6vw;
    font-weight: 900;
    color: var(--yellow);
    text-shadow: 2px 2px var(--primaryColor);
    align-self: center;
}
#take-part-section-small h3 {
    font-size: 4vw;
    font-weight: 500;
    color: var(--backgroundColor);
    text-shadow: 2px 2px 2px var(--darkGrey);
    padding: 1em 0.5em 3em 0.5em;
}
/* *** *** Take Part LABELS *** *** */
.take-part-card-section-small {
    display: grid;
    justify-content: center;
}
.take-part-card-container-small {
    width: auto;
    background: var(--backgroundColor);
    padding: 1em 0em;
    border-right: solid 0.5em var(--primaryColor);
    box-shadow: 1px 1px 10px -5px var(--lightGrey);
    border-radius: 0.5em;
    opacity: 0.8;
}
.take-part-card-container-small h2 {
    color: var(--primaryColor);
    font-weight: 400;
    border-left: solid 0.5em var(--primaryColor);
    line-height: 10vw;
    padding: 0em 0em 0em 0.5em;
    font-size: 5vw;
}
.take-part-card-container-small p {
    color: var(--secondaryColor);
    font-weight: 300;
    font-size: 4vw;
    padding: 1em 1em 0em 1em;
}
.take-part-card-container-small b {
    font-weight: 400;
}
.take-part-card-container-small li {
    color: var(--secondaryColor);
    font-weight: 300;
    font-size: 4vw;
}
.take-part-card-container-small ul {
    padding: 1em 3em 0em 3em;
    font-weight: 300;
    font-size: 4vw;
    text-decoration: none;
}
.take-part-card-container-small a {
    text-decoration: none;
    font-size: 4vw;
    font-weight: 600;
}
.take-part-card-container-small span {
    position: absolute;
    margin: 0.1em 0em 0em 0.5em;
    font-size: 4vw;
    font-weight: 600;
}

/* *** *** partners section *** *** */
#partners-section-small {
    margin-top: -125vw;
    width: auto;
    height: auto;
    background-image: linear-gradient(transparent 0%, #EB028A 50%, #692A92 100%);
    justify-items: center;
    padding: 135vw 1em 2em 1em;
}
.partners-title-small {
    width: auto;
    text-align: center;
}
.partners-title-small h1 {  
    font-size: 6vw;
    font-weight: 900;
    color: var(--lightGrey);
    text-shadow: 2px 2px var(--primaryColor);
}
.partners-title-small p {  
    color: var(--backgroundColor);
    font-weight: 300;
    font-size: 4vw;
    padding: 1em 1em 0em 1em;
}
.partners-information-small {
    padding: 1em 0em;
    width: auto;
    text-align: center;
}
.grid-item-partners-small {
    display: inline-block;
    padding: 1em;
    width: auto;
    height: auto;
    vertical-align: middle;
}
.grid-item-partners-small img {
    display: inline-block;
    width: 25vw; 
    height: auto;
}
.library-small {
    filter: invert(100%);
}

/* *** *** News Section *** *** */
#news-section-small {
    padding: 1em;
    width: auto;
    height: auto;
    background: var(--lightGrey);
    border-top: solid 0.2em var(--primaryColor);
}
#news-section-small h1 {  
    font-size: 7vw;
    font-weight: 400;
    color: var(--secondaryColor);
}
#news-section-small span {  
    color: var(--darkGrey);
}

/* *** *** News Scroll Panel *** *** */
.panel-scroll-small {
    white-space: nowrap;
    margin: 1em 0em;
    padding: 0.1em;
    overflow: hidden;
    border-right: solid var(--secondaryColor) 5em;
    border-left: double var(--secondaryColor) 1em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.panel-scroll-small h2 {
    color: var(--darkGrey);
    transform:translateX(100%);
    animation: scroll-left 25s linear infinite;
    -webkit-animation: scroll-left 25s linear infinite;
    -moz-animation: scroll-left 25s linear infinite;
    -o-animation: scroll-left 25s linear infinite;
}
@keyframes scroll-left {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-600%);}
}

/* *** *** Sharing News *** *** */
.sharedNews-small {
    width: auto;
    margin: 1.5em 0.5em;
    text-align: justify;
    line-height: 6vw;
}
.sharedNews-small p {
    color: var(--secondaryColor);
    font-size: 4vw;
}
.sharedNews-small a {
    color: var(--secondaryColor);
    font-size: 4vw;
    text-decoration: none;
    font-weight: 500;
}

/* *** *** News Items *** *** */
.newsPanelCard-small {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    margin: 1em 0em;
    background-color: var(--white);
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px -10px var(--darkGrey);
    padding: 1em 1.5em;
}
.newsPanelCard-small p {
    color: var(--darkGrey);
    font-size: 4vw;
    line-height: 5vw;
}
.newsPanelCard-small h3 {
    color: var(--darkGrey);
    padding: 0em 0em 0.5em 0em;
    font-weight: 500;
    font-size: 4.5vw;
}
.newsPanelCardTopLine-small {
    display: flex;
    max-width: 100%;
}
.newsPanelCardTopLine-small p {
    color: var(--secondaryColor);
}
.newsPanelCardTopLineImage-small {
    display: flex;
    flex: 0.2;
}
.newsPanelCardTopLineName-small {
    display: flex;
    flex: 2;
    margin-left: 0.5em;
    align-items: center;
}
.newsPanelCardTopLineName-small p {
    font-size: 3.5vw;
}
.newsPanelCardTopLineTime-small {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
.newsPanelCardTopLineTime-small p {
    font-size: 3.5vw;
}
.newsPanelCardContent-small {
    display: flex;
    flex-flow: row wrap;
    padding: 1em 0em 0em 0em;
}
.newsPanelCard-first-small {
    background-color: var(--primaryColor);
}
.newsPanelCard-first-small p {
    color: var(--lightGrey);
}
.newsPanelCard-first-small h3 {
    color: var(--lightGrey);
}
.newsPanelCardTopLine-first-small p {
    color: var(--secondaryColor);
}

/* *** *** Footer *** *** */
#footer-small {
    background-color: var(--secondaryColor);
    padding: 0;
    animation: fadeinmainsmall 1s;
    -webkit-animation: fadeinmainsmall 1s;
    -moz-animation: fadeinmainsmall 1s;
    -o-animation: fadeinmainsmall 1s;
}
.footer-container-small {
    padding: 0em 1em 6em 1em;
}
.footer-container-small h1 {
    font-size: 6vw;
    border-bottom: solid 0.1rem var(--lightGrey);
    padding: 0em 0em 0.2em 0em;
    width: 50vw;
    color: var(--secondaryColor);
    text-shadow: 0.1em 0.1em var(--primaryColor);
}
.footer-container-small p {
    font-size: 4vw;
    line-height: 5vw;
    padding: 0.3em 0.2em 0.5em 0.2em;
}

/* *** *** Footer Buttons *** *** */
.footer-buttons-small {
    display: flex;
    width: 60vw;
    margin: 1em 0.2em;
    height: auto;
    padding: 0.5em;
    border-radius: 2em;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border: solid 0.1em var(--lightGrey);
    font-size: 4vw;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

/* *** *** Footer Copyright *** *** */
.footer-copyright-small {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: var(--primaryColor);
    box-shadow: 0em 0em 0.2em 0em var(--darkGrey);
    z-index: 99;
}
.footer-copyright-wrapper-small {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.footer-copyright-text-small {
    color: var(--lightGrey);
    margin-bottom: 0;
    margin-top: 0;
    font-size: 3.3vw;
}

/* *** *** OTHER DECORATIVE ELEMENTS *** *** */
/* *** *** Waves *** *** */
.wave-svg-footer-small {
    max-width: 100%;
    height: 3em;
    margin-top: -1px;
}
.wave-path-footer-small {
    fill: var(--lightGrey);
}

/* *** *** Social Media Links *** *** */
.footer-socials-container {
    position: fixed;
    bottom: 49px;
    right: 0;
    height: 50px;
    width: 260px;
    z-index: 99;
}
.footer-socials-svg {
    height: 50px;
    width: 236px;
    fill: var(--primaryColor);
}
.footer-social-link {
    padding: 10px;
    position: absolute;
}
.instagram {
    fill: var(--secondaryColor);
    left: 12px;
    top: 12px;
}
.instagram:hover {
    fill: var(--lightGrey);
}
.tiktok {
    fill: var(--secondaryColor);
    left: 66px;
    top: 4px;
}
.tiktok:hover {
    fill: var(--lightGrey);
}
.threads {
    fill: var(--secondaryColor);
    left: 123px;
    top: 13px;
}
.threads:hover {
    fill: var(--lightGrey);
}
.facebook {
    fill: var(--secondaryColor);
    left: 171px;
    top: 10px;
}
.facebook:hover {
    fill: var(--lightGrey);
}




#loading-small {
    position: absolute;
    display: block;
    animation: fadeoutmainsmall 5s normal forwards ease-in-out;
    -webkit-animation: fadeoutmainsmall 5s normal forwards ease-in-out;
    -moz-animation: fadeoutmainsmall 5s normal forwards ease-in-out;
    -o-animation: fadeoutmainsmall 5s normal forwards ease-in-out;
    z-index: 999;
    opacity: 0;
}
.testloading {
    display: grid;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    opacity: 1;
    align-content: center;
    justify-content: center;
}
/* *** *** Social Media Links *** *** 
.testloading img {
    width: 50vw;
    height: auto;
    animation: spin 0.9s;
    -webkit-animation: spin 0.9s;
    -moz-animation: spin 0.9s;
    -o-animation: spin 0.9s;
    filter: drop-shadow(0px 0px 100px #000);
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
*/
.testloading h1 {
    font-size: 10vw;
    font-weight: 900;
    background: linear-gradient(to right, #EB028A, #692A92, #EB028A, #692A92, #EB028A, #692A92);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
    animation-name: rainbow_animation, fadeinmainsmall;
    -webkit-animation-name: rainbow_animation, fadeinmainsmall; 
    -moz-animation-name: rainbow_animation, fadeinmainsmall;
    -o-animation-name: rainbow_animation, fadeinmainsmall;
    animation-duration: 6s, 1.5s;
    animation-iteration-count: 1, 1;
    animation-timing-function: ease-in-out;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%, 100% {background-position: 0 0;}
    50% {background-position: 100% 0;}
}

