*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* *** *** Root Styles *** *** */
:root {
    --primaryColor: #EB028A;
    --secondaryColor: #692A92;
    --thirdColor: #25ff2b;
    --backgroundColor: #eeeeee;
    --black: #000;
    --white: #fff;
    --darkGrey: #4D4C4D; 
    --mediumGrey: #c7c7c7; 
    --lightGrey: #F1F1F1; 
    --aqua: #4ee2d5;
    --pink: #ff99cf;
    --red: #e34e5c;
    --offMint: #b9d08d;
    --softNavy: #018499;
    --yellow: #fcc904;
}

html {
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
}

/* *** *** Font *** *** */
p, h1, h2, h3, h4, h5, h6, li {
    font-weight: 100;
    line-height: 1.2em;
    letter-spacing: 0.05em; 
    color: var(--lightGrey);
    cursor: default;
}

/* *** *** Body *** *** */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    overscroll-behavior-y: none;
    width: 100%;
}
@media only screen and (max-width:1000px) {
    #body {
        display: none;
    }
}

/* *** *** NavBar Section *** *** */
#nav-bar {
    position: fixed;
    width: 100%;
    background: var(--primaryColor);
    box-shadow: 0em 0em 1em 0em var(--darkGrey);
    z-index: 999;
}
#nav-bar-home-big {
    position: fixed;
    width: 100%;
    background: var(--primaryColor);
    box-shadow: 0em 0em 1em 0em var(--darkGrey);
    z-index: 999;
    animation: MoveDown 3s linear;
    -webkit-animation: MoveDown 3s linear;
    -moz-animation: MoveDown 3s linear;
    -o-animation: MoveDown 3s linear;
}
#nav-bar-home-big-bimini {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    animation: MoveDown 4s linear;
    -webkit-animation: MoveDown 4s linear;
    -moz-animation: MoveDown 4s linear;
    -o-animation: MoveDown 4s linear;
}

.navbar-wrapper {
    display: grid;
    padding: 0.5em 1em;
    width: 100%;
    gap: 1em;
    align-items: center;
    overflow: hidden;
    grid-auto-flow: column;
    grid-template-columns: 3.5fr 8fr;
    grid-template-rows: auto-fit;
}
.navbar-wrapper-bimini {
    display: grid;
    padding: 1em 2em 0em 2em;
    width: 100%;
    gap: 1em;
    align-items: center;
    overflow: hidden;
    grid-auto-flow: column;
    grid-template-columns: (0.5fr 4fr 4fr 0.5fr);
    grid-template-rows: auto-fit;
    background-color: transparent;
}
.sticky {
    background: linear-gradient(360deg, #EB028A 0%, #692A92 100%);
    box-shadow: 0px 0px 10px 0px var(--secondaryColor);
    opacity: 0.95;
    font-weight: bold;
}
.sticky #navbar-title-bimini img {
    width: 75px;
    height: auto;
    overflow: hidden;
}
.sticky .ticket-icon img {
    width: 75px;
    height: auto; 
    filter: hue-rotate(340 deg);
}
body:has(.ticket-icon a:hover)
.sticky .ticket-icon p {
    display: block;
    position: absolute;
    top: -2em;
    right: 0em;
    font-size: large;
    font-weight: 900;
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
}
body:has(.ticket-icon p:hover)
.sticky .ticket-icon p {
    display: block;
    position: absolute;
    top: -2em;
    right: 0em;
    font-size: large;
    font-weight: 900;
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
}

#navbar-title {
    justify-self: start;
}
#navbar-title img {
    margin: 0em 0em -0.4em 0em; 
    width: 80px;
    height: auto;
    overflow: hidden;
}
#navbar-title-bimini {
    justify-self: start;
}
#navbar-title-bimini img {
    width: 125px;
    height: auto;
    overflow: hidden;
}
#navbar-title h1 {
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--lightGrey);
    font-size: x-large;
}

/* *** *** Search Bar *** *** */
.navbar-search {
    display: grid;
    width: 90%;
    padding: 0.2em;
    background: var(--secondaryColor);
    border: solid 0.13em var(--lightGrey);
    border-radius: 2em; 
    box-shadow: 0px 0px 15px -5px var(--darkGrey);
    justify-self: end;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: auto;
}
.searchText {
    display: grid;
    align-self: center;
    justify-self: start;
    padding-left: 0.5em;
}
.searchText h4 {
    color: var(--lightGrey);
    letter-spacing: 0.1rem; 
}
.searchIcon {
    display: grid;
    align-self: center;
    justify-self: end;
}
.navbar-search:hover 
.searchIcon {
    transform: rotateY(180deg);
}

/* *** *** Nav Menu *** *** */
.nav-menu-container {
    align-self: center;
    justify-self: end;
}

.nav-menu-container ul {
    background: var(--primaryColor);
    margin-top: 0.1em;
    padding: 0.5em;
    justify-items: center;
}
.nav-menu-container li {
    display: inline-block;
    width: auto;
    line-height: 1em;
    list-style: none;
    font-size: large;
    font-weight: bold;
}
.nav-menu-container li a {
    color: var(--lightGrey);
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em;
}
.nav-menu-container li :hover {
    padding: 0.5em;
    background-color: var(--secondaryColor);
    color: var(--lightGrey);
    border-radius: 2em;
}

/* *** *** Nav Menu *** *** */
.nav-menu-container-bimini {
    align-self: center;
    justify-self: end;
}

.nav-menu-container-bimini ul {
    margin-top: -1em;
    padding: 0.5em;
    justify-items: start;
}
.nav-menu-container-bimini li {
    display: inline-block;
    width: auto;
    line-height: 1em;
    list-style: none;
    font-size: large;
    font-weight: bold;
}
.nav-menu-container-bimini li a {
    color: var(--lightGrey);
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em;
}
.nav-menu-container-bimini li :hover {
    padding: 0.5em;
    background-color: var(--primaryColor);
    color: var(--lightGrey);
    border-radius: 2em;
}

/* *** ***  Toggle Menu *** *** */
.toggle-menu {
    position: absolute;
    z-index: 99;
    top: -0.5em;
    right: 0;
}

.toggle-menu #myLinks {
    display: none;
    text-align: right;
    min-height: auto;
    min-width: 18vw;
    margin: 4.5em 1.5em;
    background: var(--primaryColor);
    border: var(--lightGrey) solid 0.15em;
    box-shadow: 5px 5px 20px 0px var(--darkGrey);
    border-radius: 1.5em;
}
.toggle-menu a {
    padding: 0.5em 1em;
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    color: var(--lightGrey);
}
.toggle-menu a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.toggle-menu a:hover {
    color: var(--secondaryColor);
    cursor: pointer;
    font-weight: 500;
}
.fa-main-bars:before {
    content: url("../media/toggleIcon_white.svg");
    cursor: pointer;
} 

.fa-main-bars:hover {
    content: url("../media/toggleIcon_purple.svg");
    cursor: pointer;
}

 /* *** *** Header Section *** *** */
#header-section {
    padding: 3.7em 0em 0em 0em;
}    
.grid-container-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    gap: 1.5em;
    background: var(--secondaryColor);
    margin-top: -0.5em;
    padding-top: 0.5em;
}
.grid-container-header-bimini {
    top: 100px;
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    gap: 1.5em;
    margin-top: -0.5em;
    padding-top: 0.5em;
}

/* *** *** LOGO *** *** */
.logo-header {
    justify-self: start;

}
.logo-header img {
    padding: 1em;
    width: 175px;
    height: auto;
}
/* *** *** DATES FESTIVAL *** *** */
.festival-date {
    justify-self: center;
    padding: 0.5em 0em 0em 0em;
}
.festival-date h2 {
    color: var(--secondaryColor);
    text-shadow: 0.1em 0.1em var(--primaryColor);
}
.festival-date h4 {
    padding: 0.2em 0em 0em 0.3em;
}

.festival-date-bimini {
    justify-self: start;
    align-self: center;
    margin-top: -1em;
}
.festival-date-bimini h2 {
    color: var(--lightGrey);
    font-size: large;
    font-weight: bold;
}
/* *** *** SUBTITLES *** *** */
.header-subtitles {
    justify-self: center;
    width: 70%
}
.header-subtitles p {
    margin: 0.3em 0em 0.2em 0em;
    padding: 0.3em;
    background-color: var(--secondaryColor);
    text-decoration: none;
    filter: drop-shadow(0px 1px var(--primaryColor));
}
.header-subtitles span {
    position: absolute;
    padding: 0.15em 0em 0em 1em;

} 
.header-subtitles p:hover {
    margin: 0.3em 0em 0.2em 0em;
    padding: 0.3em;
    background: var(--primaryColor);
    color: var(--secondaryColor);
    text-decoration: none;
    border-radius: 1em;
    filter: none;
    cursor: pointer;
}

.header-subtitles-bigmain {
    justify-self: center;
    width: 70%
}
.header-subtitles-bigmain p {
    margin: 0.3em 0em 0.2em 0em;
    padding: 0.3em;
    background-color: var(--secondaryColor);
    text-decoration: none;
    filter: drop-shadow(0px 1px var(--primaryColor));
} 
/* *** ***  TICKET ICON *** *** */
.ticket-icon {
    margin-top: -0.5em;
    justify-self: center;
    z-index: 99;
    animation: name-of-animation 8s infinite;
}
.ticket-icon img {
    width: 95px;
    height: auto; 
    filter: hue-rotate(340 deg);
}

@keyframes name-of-animation {
    0%  { opacity: 1; }
    5%  { opacity: 0; }
    10%  { opacity: 1; }
    15%  { opacity: 0; }
    20%  { opacity: 1; }
    100%  { opacity: 1; }
}
.ticket-icon a:hover {
    animation: icon-hover 1s infinite;
    cursor: pointer;
    color: var(--primaryColor);
}
@keyframes icon-hover {
    0%, 100%  { -webkit-filter: hue-rotate(300deg); }
    50% { -webkit-filter: hue-rotate(360deg); }
}
.ticket-icon p {
    display: none;
}
.ticket-icon p:hover {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
body:has(.ticket-icon a:hover)
.ticket-icon p {
    display: block;
    position: absolute;
    top: -2.5em;
    right: 0em;
    font-size: large;
    font-weight: 900;
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
}
body:has(.ticket-icon p:hover)
.ticket-icon p {
    display: block;
    position: absolute;
    top: -2.5em;
    right: 0em;
    font-size: large;
    font-weight: 900;
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
}
body:has(.ticket-icon p:hover)
.ticket-icon a {
    animation: icon-hover 1s infinite;
    cursor: pointer;
    color: var(--primaryColor);
}

/* *** *** General Background *** *** */ 
.background {
    background-image: url(./media/BIMINI_Main.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    animation: bg-img-hue 3s infinite;
    height: 500px;
}
.background-bimini {
    background-image: url(../media/BIMINI_Main.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    animation: bg-img-hue 3s infinite;
    height: 700px;
    opacity: 0;
    will-change: opacity;
    animation: fadeIn 2s ease-in-out 2s forwards;
}

@keyframes bg-img-hue {
    0%  { -webkit-filter: hue-rotate(0deg); }
    50% { -webkit-filter: hue-rotate(300deg); }
}
@-webkit-keyframes flash {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}
@keyframes flash {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

/* *** *** HERO BANNER Section *** *** */
.first-section-container {
    position: relative;
    display: grid;
    height: 600px;
    grid-auto-flow: column;
    gap: 1em;
    margin-top: -600px;
}
/* *** *** WEEKEND ACTS ANNOUNCEMENT *** *** */
.headliner-act {
    position: absolute;
    margin: 2em;
}
.headliner-act h1 {
    font-size: xx-large;
    font-weight: 700;
}
.headliner-act h3 {
    padding: 0em 0em 1em 0.1em;
}
.headliner-act-prog {
    position: absolute;
    right: 0;
    margin: 25em 0em 0em 0em;
}
.headliner-act-prog h3 {
    color: var(--lightGrey);
    background: var(--primaryColor);
    border-left: double 10px var(--lightGrey);
    padding: 1em 1em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: x-large;
    cursor: pointer;
    font-weight: bold;
    transform: skewY(5deg);
}

.headliner-act-prog h3:hover {
    color: var(--lightGrey);
    background: var(--secondaryColor);
    cursor: pointer;
}
.headliner-act-prog a {
    text-decoration: none;
}
.home-title {
    position: relative;
    width: 30vw;
    left: -2px;
    margin-bottom: -3px;
}
.home-title img {
    width: 100%;
}
.home-title-image {
    position: absolute;
    justify-self: end;
    width: 30vw;
    padding: 2em 3em;
}
.home-title-image img {
    width: 100%;
}

/* *** *** HIDDEN header subtitles *** *** */
#subtitlesCards {
    margin-top: 2em;
}
.header-subtitles-cards {
    display: none;
    position: absolute;
    right: 0;
    text-align: right;
    width: 40%;
}
.header-subtitles-cards h1 {
    font-size: x-large;
    color: var(--secondaryColor);
    font-weight: bold;
    line-height: 1.5em;
}
.padding-subtitles {
    color: var(--lightGrey);
    background: var(--secondaryColor);
    border-radius: 1em;
    padding: 5px 10px;
}
.networks {
    display: block;
    cursor: pointer;
}
body:has(#communities-title:hover)
.networks {
    display: none;
    cursor: pointer;
}
body:has(#inclusivity-title:hover)
.networks {
    display: none;
    cursor: pointer;
}
body:has(#communities-title:hover)
.communities {
    display: block;
    cursor: pointer;
}
body:has(#inclusivity-title:hover)
.inclusivity {
    display: block;
    cursor: pointer;
}
.background p {
    color: var(--lightGrey);
}
/* *** *** Countdown Clock *** *** */
.countdown-container {
    display: flex;
    width: auto;
    padding: 3em 2em;
    align-self: end;
}
.countdown-sub-container {
    padding: 1em;
    background: var(--lightGrey);
    border-radius: 1rem;
    opacity: 0.7;
    border: double 0.5em var(--secondaryColor);
}
.countdown-sub-container h2 {
    padding: 0em 0em 0.5em 0em;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    color: var(--lightGrey);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
}
.digits-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.clock-circle {
    display: grid;
    width: 3em;
    height: 3em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    border: solid 0.1em var(--secondaryColor);
    border-radius: 50%;
}
.clock-label {
    display: grid;
    width: 100px;
    height: auto;
    margin-right: 0.2em;
    margin-left: 0.2em;
}
.digits-container h1 {
    display: grid;
    font-size: 2em;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    color: var(--lightGrey);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
}
.digits-container p {
    display: grid;
    font-size: 1.2em;
    font-weight: 100;
    padding-top: 0.5em;
    justify-content: center;
    align-items: center;
    color: var(--secondaryColor);
}
.first-section-container1 {
    display: none;
}

/* *** *** Information Section *** *** */
#information-section {
    padding: 4em;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #EB028A 0%, #692A92 100%);
    border-top: solid 0.2em var(--primaryColor);
    border-bottom: solid 0.2em var(--backgroundColor);
}
#information-section-home {
    padding: 3em 4em 4em 4em;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #EB028A 0%, #692A92 100%);
    border-top: solid 0.2em var(--primaryColor);
    border-bottom: solid 0.2em var(--backgroundColor);
}
#information-section-bigpages {
    padding: 4em;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #EB028A 0%, #692A92 100%);
}
#information-section-bigpages-programme {
    padding: 6em 2em 4em 2em;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #EB028A 0%, #692A92 100%);
}

.information-container {
    width: auto;
}
.information-container h3 {
    font-size: x-large;
    font-weight: bold;
    color: var(--secondaryColor);
    padding: 0.5em 0em;
}
.information-container h2 {
    font-size: x-large;
    font-weight: bold;
    color: var(--yellow);
    padding: 0.5em 0em;
}
.information-container p {
    font-size: large;
    color: var(--lightGrey);
    line-height: 1.5em;
}
.information-container span {
    position: absolute;
    font-weight: 600;
    padding: 0.1em 0em 0em 0.5em;
}
.information-container a {
    color: var(--backgroundColor);
    font-weight: 600;
    text-decoration: none;
}
.information-container img {
    width: 100vw;
    height: auto;
    border-top: solid 0.1em var(--backgroundColor);
    border-bottom: solid 0.1em var(--backgroundColor);
    filter: hue-rotate(300deg);
}

/* *** *** About Page *** *** */
.top-section-about {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
}
.about-out-there-exeter h3 {
    font-size: x-large;
    font-weight: bold;
    color: var(--secondaryColor);
    padding: 0.5em 0em;
}
.about-out-there-exeter p {
    font-size: large;
    color: var(--lightGrey);
    line-height: 1.5em;
}

/* *** *** Information Section Info Cards *** *** */
.info-cards-container {
    display: grid;
    position: relative;
    padding: 2em 0em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2em;
    justify-items: center;
}
.info-cards{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 300px;
    box-shadow: 1px 1px 10px -5px var(--darkGrey);
    border-radius: 1rem;
    filter: drop-shadow(-0.5em 0.5em var(--primaryColor));
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    will-change: opacity;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}
.arts { 
    background-image: url(../media/istockphoto-1502556789-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.culture {
    background-image: url(../media/istockphoto-1323377064-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.community {
    background-image: url(../media/community.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.advocacy {
    background-image: url(../media/istockphoto-1498993169-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-cards:hover{
    padding: 2em 0.5em;
    background: var(--backgroundColor);
    justify-content: start;
}
.info-cards h1 {
    color: var(--backgroundColor);
    text-shadow: 0.1em 0.1em var(--primaryColor);
    font-weight: 900;
    font-size: x-large;
    cursor: pointer;
}
body:has(.culture:hover)
.culture h1 {
    color: var(--primaryColor);
    text-shadow: none;
    font-weight: 900;
    font-size: x-large;
}
body:has(.arts:hover)
.arts h1 {
    color: var(--primaryColor);
    text-shadow: none;
    font-weight: 900;
    font-size: x-large;
}
body:has(.community:hover)
.community h1 {
    color: var(--primaryColor);
    text-shadow: none;
    font-weight: 900;
    font-size: x-large;
}
body:has(.advocacy:hover)
.advocacy h1 {
    color: var(--primaryColor);
    text-shadow: none;
    font-weight: 900;
    font-size: x-large;
}
.info-cards p {
    display: none;
    color: var(--secondaryColor);
    font-size: larger;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
body:has(.culture:hover)
.culture p {
    display: block;
}
body:has(.arts:hover)
.arts p {
    display: block;
}
body:has(.community:hover)
.community p {
    display: block;
}
body:has(.advocacy:hover)
.advocacy p {
    display: block;
}

/* *** *** Programme *** *** */
.programme-title {
    text-align: center;
}
.programme-page-info h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    line-height: 1.5em;
    color: var(--lightGrey);
}
.programme-page-info h2 {
    text-align: center;
    font-size: x-large;
    line-height: 1.5em;
    color: var(--lightGrey);
}
.programme-page-info h3 {
    font-size: large;
    font-weight: bold;
    line-height: 1.5em;
    padding: 2em 0em 0.5em 0em;
    color: var(--lightGrey);
}
.programme-page-info p {
    line-height: 1.5em;
}
.programme-page-info span {
    line-height: 1.5em;
    color: var(--yellow);
    font-size: large;
}
.upcoming-events {
    width: 100%; 
    margin: auto;
    padding: 1em; 
    text-align: center;
}
.upcoming-events h1 {
    font-size: xx-large;
    font-weight: bold;
    line-height: 1.5em;
    color: var(--yellow);
}
.upcoming-events h2 {
    font-size: large;
    font-weight: bold;
    line-height: 1.5em;
}
.upcoming-events p {
    line-height: 1.5em;
    font-size: large;
    text-align: center;
}
.programme-page-programme-section {
    padding: 1em;
}
.programme-page-programme-section h1 {
    font-size: xx-large;
    font-weight: bolder;
    line-height: 2.1em; 
    color: var(--yellow);
    cursor: pointer;
}
.programme-page-programme-section h1:hover {
    font-size: xx-large;
    font-weight: bolder;
    line-height: 2.1em; 
    color: var(--lightGrey);
    cursor: pointer;
}
.programme-page-programme-section h1:after {
    display: block;
    content: "";
    position: absolute;
    width: 20%;
    border-bottom: 10px dotted var(--primaryColor);
}
.programme-page-programme-section p {
    padding: 1.5em 0em 3em 0em;
    font-size: large;
    line-height: 1.5em;
}
.programme-page-prog-prev-parent {
    display: grid;
    left: 0;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    padding: 0em 0em 1em 0em;
}
.programme-page-event {
    position: relative;
    align-content: center;
    justify-self: center;
    padding: 2em 0em;
}
.programme-page-event img {
    border: solid 2px var(--lightGrey);
    border-radius: 20px;
    width:  280px;
    height: 280px;
    object-fit: cover;
}
.programme-page-image_square {
    position: absolute;
    margin-top: -40px;
    padding: 0.5em;
    border-bottom: solid 2px var(--lightGrey);
    border-left: solid 2px var(--lightGrey);
    border-right: solid 2px var(--lightGrey);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width:  280px;
    height: 100px;
    background-color: var(--yellow);
}
.programme-page-image_square h1 {
    color: var(--secondaryColor);
    font-size: medium;
    font-weight: 600;
    line-height: 1.3em;
}
.programme-page-image_square h2 {
    color: var(--secondaryColor);
    font-size: medium;
    line-height: 1.3em;
}
.programme-page-bottom-info {
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0em 1em 4em 1em;
}
.programme-page-bottom-info h3 {
    font-size: xx-large;
    line-height: 1.5em;
    color: var(--lightGrey);
    padding: 1em 1em 0.5em 1em;
}
.youMayAlsoLike {
    background-color: var(--secondaryColor);

}

/* *** *** Take Part Section *** *** */
#take-part-section {
    padding: 2em 4em 3em 4em;
    width: 100%;
    height: auto;
    background-image: url(../media/twoladysingers.gif);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
.take-part-title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px;
    gap: 4em;
}
.take-part-title img {
    width: 200px; 
    height: auto; 
    display: inline;
}
#take-part-section h1 {  
    font-size: xx-large;
    font-weight: 900;
    color: var(--yellow);
    text-shadow: 2px 2px var(--primaryColor);
    align-self: center;
}
#take-part-section h4 {
    font-size: large;
    color: var(--backgroundColor);
    font-weight: 500;
    text-align: justify;
    padding: 0em 1em 0em 1.65em;
}
/* *** *** Take Part LABELS *** *** */
.take-part-card-section {
    display: grid;
    justify-content: center;
}
.take-part-card-container {
    width: 70vw;
    background: var(--backgroundColor);
    margin-bottom: 2em;
    padding: 1em 0em;
    border-right: solid 0.5em var(--primaryColor);
    box-shadow: 1px 1px 10px -5px var(--lightGrey);
    border-radius: 0.5em;
    cursor: none;
}
.take-part-card-container-top {
    width: 70vw;
    background: var(--primaryColor);
    margin-bottom: 2em;
    padding: 1em 0em;
    box-shadow: 1px 1px 10px -5px var(--lightGrey);
    border-radius: 0.5em;
    cursor: none;
}
button {
    border: none;
}
.take-part-card-container h2 {
    color: var(--secondaryColor);
    font-weight: 500;
    border-left: solid 0.5em var(--primaryColor);
    line-height: 2em;
   cursor: none;
    text-align: left;
    padding: 0em 0em 0em 0.8em;
    font-size: x-large;
}
.take-part-card-container p {
    color: var(--secondaryColor);
    text-align: justify;
    padding: 0.5em 2em;
}
.take-part-card-container h3 {
    color: var(--secondaryColor);
    font-weight: 400;
    text-align: justify;
    padding: 1em 1em 0em 1.65em;
}
.take-part-card-container span {
    font-weight: bold;
    position: absolute;
    padding: 0.1em 0em 0em 0.5em;
}
.take-part-card-container li {
    color: var(--secondaryColor);
}
.take-part-card-container ul {
    padding: 0.5em 2em 0em 4em;
    font-weight: 300;
    text-decoration: none;
    cursor: default;
}
.take-part-card-container a {
    color: var(--secondaryColor);
    cursor: pointer;
    text-decoration: none;
}



/* *** *** Take Part Pop-up *** *** */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 0.5em solid var(--primaryColor);
    border-radius: 2em;
    z-index: 10;
    background-color: var(--backgroundColor);
    width: 50%;
    max-height: 70%;
    max-width: 90%;
    padding: 1.5em 2em 0em 2em;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header h2 {
    color: var(--secondaryColor);
    font-weight: 500;
    text-align: justify;
}
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    color: var(--primaryColor);
}
.modal-body {
    padding: 1em 0em;
    color: var(--secondaryColor);
}
.modal-body p {
    color: var(--secondaryColor);
    text-align: justify;
    padding: 0.5em 0em;
}
.modal-body h3 {
    color: var(--secondaryColor);
    font-weight: 500;
    text-align: justify;
    padding: 1em 0em 0em 0em;
}
.modal-body span {
    font-weight: 500;
}
.modal-body li {
    color: var(--secondaryColor);
}
.modal-body ul {
    padding: 0.5em 0em 0em 1.5em;
    font-weight: 300;
    text-decoration: none;
    cursor: default;
}
.modal-body a {
    color: var(--secondaryColor);
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* *** *** partners section *** *** */
#partners-section {
    margin-top: -300px;
    width: 100%;
    height: auto;
    background-image: linear-gradient(transparent 0%, #EB028A 50%, #692A92 100%);
    display: grid;
    justify-items: center;
    padding: 300px 2em 2em 2em;
}
.partners-title {
    display: grid;
    justify-items: center;
}
.partners-title h1 {  
    padding: 2em 0em 0.5em 0em;
    font-size: xx-large;
    font-weight: 900;
    color: var(--lightGrey);
    text-shadow: 2px 2px var(--primaryColor);
}
.partners-title-programme {
    display: grid;
    justify-items: center;
}
.partners-title-programme h1 {  
    padding: 2em 0em 0em 0em;
    font-size: xx-large;
    color: var(--lightGrey);
    font-weight: bold;
}
.partners-title-mainpage {
    width: 90vw;
    display: grid;
    justify-items: center;
}
.partners-title-mainpage h1 {  
    font-size: xx-large;
    font-weight: 900;
    color: var(--primaryColor);
    text-shadow: 2px 2px var(--secondaryColor);
}
.partners-information {
    padding: 2em 0em;
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    justify-items: center;
    align-items: center;
}
.partners-information-mainpage {
    padding: 2em 0em;
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    justify-items: center;
    align-items: center;
}
.grid-item-partners {
    gap: 2em;
}
.grid-item-partners img {
    width: 100px; 
    height: auto;
}
.library {
    filter: invert(100%);
    display: inline-block;
    width: 20vw; 
    height: auto;
}

/* *** *** Programme Preview *** *** */
#programme-preview-section {
    padding: 1.5em 2em 1em 2em;
    width: 100%;
    height: auto;
    background-image: linear-gradient(transparent 0%, #EB028A 50%, #692A92 100%);
    border-top: solid 0.2em var(--primaryColor);
}
.home-page-programme-section h1 {
    font-size: x-large;
    font-weight: bolder;
    line-height: 2.5em; 
}
.home-page-programme-section h1:after {
    display: block;
    content: "";
    position: absolute;
    width: 125px;
    border-bottom: 3px solid var(--secondaryColor);
}
.home-page-programme-section p {
    padding: 1.5em 0em 3em 0em;
    font-size: large;
    line-height: 1.5em;
}
.prog-prev-parent {
    display: grid;
    left: 0;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    justify-items: center;
}
.event {
    position: relative;
    align-content: center;
    justify-items: center;
}
.event img {
    border: solid 4px var(--lightGrey);
    border-radius: 20px;
    width:  300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}
.image_square {
    position: absolute;
    margin-top: -40px;
    padding: 0.5em;
    border: solid 4px var(--lightGrey);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width:  300px;
    height: 100px;
    background-color: var(--lightGrey);
    color: var(--secondaryColor);
    cursor: pointer;
}
.image_square h1 {
    color: var(--secondaryColor);
    font-weight: 600;
    font-size: medium;
    line-height: 1.3em;
    cursor: pointer;
}
.image_square h2 {
    color: var(--secondaryColor);
    font-size: medium;
    line-height: 1.3em;
    cursor: pointer;
}

.view-programme {
    padding: 6em 3em 3em 3em;
    text-align: center;
}
.view-programme span {
    color: var(--lightGrey);
    background: var(--primaryColor);
    border: solid 2px var(--lightGrey);
    padding: 10px 30px;
    border-radius: 20px;
    height: 10px;
    font-size: large;
    cursor: pointer;
}
.view-programme span:hover {
    color: var(--lightGrey);
    background: var(--secondaryColor);
    border: solid 2px var(--lightGrey);
    padding: 10px 30px;
    border-radius: 20px;
    height: 10px;
    font-size: large;
    cursor: pointer;
}
.view-programme a {
    text-decoration: none;
}
.announced-events {
    padding: 2em;
}
.announced-events h1 {
    font-size: x-large;
    text-align: center;
    font-weight: 100;
    line-height: 2em;
    letter-spacing: 0.2em; 
    padding-bottom: 2em;
}
.announced-events h2 {
    text-align: center;
    font-size: large;
    padding: 0em 0em 3em 0em;
    letter-spacing: 0.5em; 
}
.announced-events a {
    text-decoration: none;
    color: var(--lightGrey);
    font-weight: bold;
}
.volunteers {
    margin: 3em 4em 4em 4em;
    padding: 2em;
    background: var(--lightGrey);
    border-radius: 20px;
}
.volunteers h1 {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: x-large;
    line-height: 1.5em;
}
.volunteers p {
    color: var(--secondaryColor);
    padding-top: 10px;
    font-size: large;
    line-height: 1.5em;
}
.volunteers span {
    color: var(--secondaryColor);
}
.volunteers a {
    color: var(--secondaryColor);
}

/* *** *** News Section *** *** */
#news-section {
    padding: 4em;
    width: 100%;
    height: auto;
    background: var(--lightGrey);
    border-top: solid 0.2em var(--primaryColor);
}
#news-section h2 {  
    padding: 0em 1em;
    font-size: 50px;
    font-weight: 500;
    color: var(--secondaryColor);
}
#news-section span {  
    color: var(--darkGrey);
}

/* *** *** News Scroll Panel *** *** */
.panel-scroll {
    white-space: nowrap;
    margin: 1em 3.5em;
    padding: 0.5em;
    overflow: hidden;
    border-right: solid var(--secondaryColor) 5em;
    border-left: double var(--secondaryColor) 1em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.panel-scroll h3 {
    color: var(--darkGrey);
    transform:translateX(100%);
    animation: scroll-small 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    -moz-animation: scroll-left 15s linear infinite;
    -o-animation: scroll-left 15s linear infinite;
}
@keyframes scroll-left {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-350%);}
}

/* *** *** Sharing News *** *** */
.sharedNews {
    width: auto;
    margin: 1em 3.5em;
}
.sharedNews p {
    color: var(--darkGrey);
}
.sharedNews span {
    font-weight: 500;
}
.sharedNews a {
    color: var(--darkGrey);
    text-decoration: none;
}

/* *** *** News Items *** *** */
.newsPanelCard {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    margin: 1em 3.5em;
    background-color: var(--white);
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px -10px var(--darkGrey);
    padding: 1em 1.5em;
}
.newsPanelCard:hover {
    filter: brightness(90%);
    transition-delay: 0.1s;
}
.newsPanelCard p {
    color: var(--darkGrey);
}
.newsPanelCard h3 {
    color: var(--darkGrey);
    padding: 0em 0em 0.5em 0em;
    font-weight: 500;
}
.newsPanelCardTopLine {
    display: flex;
    width: 100%;
}
.newsPanelCardTopLine p {
    color: var(--secondaryColor);
}
.newsPanelCardTopLineImage {
    display: flex;
    flex: 0.2;
}
.newsPanelCardTopLineName {
    display: flex;
    flex: 1;
    margin-left: 0.5em;
    align-items: center;
}
.newsPanelCardTopLineTime {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
.newsPanelCardContent {
    display: flex;
    flex-flow: row wrap;
    padding: 1em 0em 0em 0em;
}
.newsPanelCard-first {
    background-color: var(--primaryColor);
}
.newsPanelCard-first:hover {
    filter: brightness(100%);
}
.newsPanelCard-first p {
    color: var(--lightGrey);
}
.newsPanelCard-first h3 {
    color: var(--lightGrey);
}
.newsPanelCardTopLine-first p {
    color: var(--secondaryColor);
}

/* *** *** Footer *** *** */
#footer {
    background-color: var(--secondaryColor);
    padding: 0 0 50px 0;
}

#footer-home-big {
    background-color: var(--secondaryColor);
    padding: 0 0 50px 0;
    animation: fadeinmainsmall 3s linear;
    -webkit-animation: fadeinmainsmall 3s linear;
    -moz-animation: fadeinmainsmall 3s linear;
    -o-animation: fadeinmainsmall 3s linear;
}

.footer-container {
    padding: 0em 2em 2em 2em;
}
.footer-container h1 {
    border-bottom: solid 0.1rem var(--lightGrey);
    padding: 0em 0em 0.2em 0em;
    width: 70vw;
    color: var(--secondaryColor);
    text-shadow: 0.1em 0.1em var(--lightGrey);
}
.footer-info-container {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    align-items: start;
    justify-content: start;
}
.footer-info-cards {
    display: flex;
    flex-flow: column wrap;
    width: 20vw;
    height: auto;
    padding: 0.5em 0em 0em 0.3em;
    align-self: center;
}
.footer-info-cards p {
    line-height: 1.5em;
}
.footer-info-cards img {
    position: absolute;
    width: 150px;
    height: auto;
    right: 0;
    margin: -4em 2em 0em 0em;
}

/* *** *** Footer Buttons *** *** */
.footer-buttons {
    display: flex;
    width: 20vw;
    height: 3em;
    padding: 0.6em;
    border-radius: 2em;
    color: var(--lightGrey);
    background-color: var(--primaryColor);
    border: solid 0.1em var(--lightGrey);
    font-size: 1em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.footer-buttons:hover {
    color: var(--secondaryColor);
    background-color: var(--lightGrey);
    border-color: var(--secondaryColor);
    cursor: pointer;
}

/* *** *** Footer Copyright *** *** */
.footer-copyright {
    background-color: var(--primaryColor);
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    box-shadow: 0em 0em 0.2em 0em var(--darkGrey);
    z-index: 2;
}
.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 30px;
    text-align: center;
    width: 100%;
}
.footer-copyright-text {
    color: var(--lightGrey);
    margin-bottom: 0;
    margin-top: 0;
}

/* *** *** Bttom of main pages *** *** */
#news-section-bigpages {
    padding: 2em 4em;
    width: 100%;
    height: auto;
    background: var(--lightGrey);
    border-top: solid 0.2em var(--primaryColor);
}
.information-container-about-bottom-big h3 {
    font-size: x-large;
    font-weight: bold;
    color: var(--primaryColor);
}
.information-container-about-bottom-big p {
    font-size: large;
    color: var(--secondaryColor);
    line-height: 1.5em;
}
.information-container-about-bottom-big a {
    text-decoration: none;
    color: var(--secondaryColor);
}
.information-container-about-bottom-big span {
    position: absolute;
    padding: 0.1em 0em 0em 0.5em;
}
/* *** *** Contact Form *** *** */
.contact-form-big-page-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px;
    gap: 0em;
}
.contact-form-title-big h1 {
    font-size: xx-large;
    font-weight: 900;
    background: linear-gradient(to right,#EB028A, #692A92, #f2f6f8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
#envelope-big {
    padding: 4em 0em 0em 0em;
    width: 50%;
    height: auto;
    justify-self: center;
    animation: float 2s ease-in-out infinite;
}
#contactformpaperforms-big {
    padding: 0em 2em;
    width: 100%;
    height: 900px;
}

/* *** *** OTHER DECORATIVE ELEMENTS *** *** */
/* *** *** Waves *** *** */
.wave-svg-header {
    position:absolute;
    width: 100%;
    height: 1.3em;
    z-index: 1;
}
.wave-path-header {
    fill: var(--secondaryColor);
}

.wave-svg-footer {
    width: 100%;
    height: 1.3em;
    z-index: 1;
}
.wave-path-footer {
    fill: var(--secondaryColor);
}

/* *** *** Social Media Links *** *** */
.footer-socials-container {
    position: fixed;
    bottom: 49px;
    right: 0;
    height: 50px;
    width: 260px;
    z-index: 2;
}
.footer-socials-svg {
    height: 50px;
    width: 236px;
    fill: var(--primaryColor);
}
.footer-social-link {
    padding: 10px;
    position: absolute;
}
.instagram {
    fill: var(--secondaryColor);
    left: 12px;
    top: 12px;
}
.instagram:hover {
    fill: var(--lightGrey);
}
.tiktok {
    fill: var(--secondaryColor);
    left: 66px;
    top: 4px;
}
.tiktok:hover {
    fill: var(--lightGrey);
}
.threads {
    fill: var(--secondaryColor);
    left: 123px;
    top: 13px;
}
.threads:hover {
    fill: var(--lightGrey);
}
.facebook {
    fill: var(--secondaryColor);
    left: 171px;
    top: 10px;
}
.facebook:hover {
    fill: var(--lightGrey);
}

/* *** *** DOWN ARROW *** *** */
.arrow-bounce {
    position: fixed;
    left: 49%;
    bottom: 0px;
    height: 40px;
    width: 40px;
    margin-bottom: 4em;
    animation: bounce 1.5s infinite;
    z-index: 3;
    cursor: pointer;
  }
  @-webkit-keyframes bounce {
    0%       {bottom: 0px;}
    50%      {bottom: 10px;}
    100%     {bottom: 20;}
  }
   @-moz-keyframes bounce {
    0%       {bottom: 0px;}
    50%      {bottom: 10px;}
    100%     {bottom: 20;}
  }
   @-o-keyframes bounce {
    0%       {bottom: 0px;}
    50%      {bottom: 10px;}
    100%     {bottom: 20;}
  }
   @keyframes bounce {
    0%       {bottom: 0px;}
    50%      {bottom: 10px;}
    100%     {bottom: 20;}
  }

  /* *** *** TICKETS PAGE *** *** */

  .background-tickets {
    background-image: url(../media/twoladysingers.gif);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    height: 700px;
}

.tickets-page-title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px;
    gap: 4em;
}

#ticket-listing-background {
    padding: 1em 4em 0em 4em;
    background: linear-gradient(180deg, #EB028A 0%, #692A92 50%, #692A92 100%);
}

#main-listing {
    width: 100%;
    margin: 20px auto 0px auto;
    padding: 1em 4em 0em 4em;    
}
.container-listing-header {
    display: grid;
    left: 0;
    position: relative;
    grid-template-columns: repeat(2, 70% auto);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
}
.container-listing-header-sidebar {
    display: grid;
    left: 0;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2em;
}
.event-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.event-header h1 {
    font-size: xx-large;
    margin: 0;
    color: var(--lightGrey);
}
.event-header p {
    color: var(--yellow);
    margin-top: 10px;
    font-size: x-large;
}
.event-header-button {
    position: absolute;
    right: 0;
    bottom: 20px;
    background-color: var(--secondaryColor);
    border: solid 2px var(--lightGrey);
    width: 200px;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    right: 0;
    bottom: 20px;
}
.event-header-button:hover {
    background-color: var(--primaryColor);
    border: solid 2px var(--lightGrey);
    cursor: pointer;
}

.event-header-button p {
    color: var(--lightGrey);
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
    font-size: small;
}

.event-image {
    width: 100%;
    margin-bottom: 30px;
}
.event-image img {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
}
.event-details {
    margin-bottom: 30px;
}
.event-details h3 {
    font-size: xx-large;
    color: var(--yellow);
    margin-bottom: 10px;
    font-weight: bold;
}
.event-details p {
    margin: 5px 0;
    font-size: medium;
    color: var(--lightGrey);
    line-height: 1.5em;
}
.event-details a {
    color: var(--lightGrey);
}
.event-description {
    margin: 30px 0px;
}
.event-description h3 {
    font-size: xx-large;
    color: var(--yellow);
    margin-bottom: 10px;
    font-weight: bold;
}
.event-description p {
    color: var(--lightGrey);
    font-size: medium;
    line-height: 1.5em;
}
.event-description a {
    color: var(--lightGrey);
    font-size: medium;
    line-height: 1.5em;
}
.event-description ul {
    list-style-position: outside;
    padding: 1em 2em;
}

.ticket-pass {
    position: absolute;
    background-color: var(--yellow);
    color: var(--secondaryColor);
    border: solid 1px var(--yellow);
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    right: 0;
}
.ticket-pass:hover {
    background-color: var(--secondaryColor);
    border: solid 1px var(--lightGrey);
    color: var(--lightGrey);
    cursor: pointer;
}
.ticket-pass-cat {
    background-color: var(--yellow);
    color: var(--secondaryColor);
    border: solid 1px var(--yellow);
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.ticket-pass-cat:hover {
    background-color: var(--secondaryColor);
    border: solid 1px var(--lightGrey);
    color: var(--lightGrey);
    cursor: pointer;
}
.ticket-info {
    margin-bottom: 30px;
}
.ticket-info h3 {
    font-size: xx-large;
    color: var(--yellow);
    margin-bottom: 10px;
    font-weight: bold;
}
.ticket-info-table {
    padding-top: 50px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: medium;
}
.ticket-info-table, th {
    padding: 12px;
    text-align: left;
    background-color: var(--secondaryColor);
    color: var(--lightGrey);
    border: 1px solid var(--mediumGrey);
}
.ticket-info-table, td {
    padding: 12px;
    text-align: left;
    background-color: var(--lightGrey);
    color: var(--secondaryColor);
    border: 1px solid var(--mediumGrey);
}
.book-btn {
    background-color: var(--primaryColor);
    color: var(--lightGrey);
    padding: 5px 20px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.book-btn:hover {
    background-color: var(--secondaryColor);
    color: var(--lightGrey);
    cursor: pointer;
}
.listing-more-info p {
    font-size: large;
    color: var(--lightGrey);
    line-height: 1.5em;
}
.listing-more-info a {
    color: var(--lightGrey);
}
.view-programme-listing {
    padding: 3em;
    text-align: center;
}
.view-programme-listing span {
    color: var(--lightGrey);
    background: var(--primaryColor);
    border: solid 2px var(--lightGrey);
    padding: 10px 30px;
    border-radius: 20px;
    height: 10px;
    font-size: medium;
    cursor: pointer;
}
.view-programme-listing span:hover {
    color: var(--lightGrey);
    background: var(--secondaryColor);
    border: solid 2px var(--lightGrey);
    padding: 10px 30px;
    border-radius: 20px;
    height: 10px;
    font-size: medium;
    cursor: pointer;
}
.view-programme-listing a {
    text-decoration: none;
}
#filter-buttons {
    padding: 0em 2em 3em 2em;
    text-align: center;
}
#filter-buttons button {
    margin: 0.5em 0.2em;
    padding: 1em;
    text-align: center;
    background-color: var(--yellow);
    font-size: small;
    font-weight: bold;
    border-radius: 50px;
    color: var(--secondaryColor);
    text-transform: uppercase;
    cursor: pointer;
}
#filter-buttons button:hover {
    background-color: var(--secondaryColor);
    color: var(--lightGrey);
}
#event-list {
    border: 1px solid var(--primaryColor);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--secondaryColor);
    border-radius: 20px;
}
.event-cat {
    padding: 0em 2em 2em 2em;
}
.hidden {
    display: none; 
}
.event-section-text {
    padding: 1em;
}
.event-section-text h1 {
    font-size: large;
    color: var(--yellow);
    line-height: 2em;
    font-weight: bold;
}
.event-section-text p {
    font-size: medium;
    color: var(--lightGrey);
}
.event-section-text a {
    color: var(--lightGrey);
}


.carousel {
    position: relative;
    max-width: 100vw;
    height: 500px;
    margin: 2em auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    will-change: opacity;
    animation: fadeIn 1s ease-in-out 1s forwards;
}
@keyframes fadeIn {
to {
    opacity: 1;
}
}
.carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}
.carousel-item {
    flex: 1 0 100%;
    display: none;
}
.carousel-item.active {
    display: flex;
}
.carousel-content {
    display: flex;
    width: 100%;
    height: 500px;
}
.carousel-image {
    flex: 1.5;
    position: relative;
    height: 100%;
}
.carousel-image img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.carousel-info {
    flex: 1;
    padding: 2em 3em 2em 2em;
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.carousel-info h5 {
    margin: 0 0 0.5em;
    font-size: xx-large;
    font-weight: bold;
    color: var(--primaryColor);
    cursor: pointer;
}
.carousel-info p {
    margin: 5px 0;
    font-size: x-large;
    color: var(--lightGrey);
    cursor: pointer;
}
.carousel-content a {
    text-decoration: none;
    cursor: pointer;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primaryColor);
    color: var(--lightGrey);
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.carousel-control.prev {
    left: 10px;
}
.carousel-control.next {
    right: 10px;
}

