@media only screen and (max-width:601px) {
    .nav-bar {
        display: none;
    }
}

@media only screen and (min-width:992px) {
    .navbar-wrapper {
        grid-auto-flow: column;
        grid-template-columns: 6.5fr 4fr 1fr;
        grid-template-rows: auto-fit;
    }
}
@media only screen and (min-width:768px) {
    .navbar-wrapper {
        grid-auto-flow: column;
        grid-template-columns: 6.5fr 4fr 1fr;
        grid-template-rows: auto-fit;
    }
}
@media only screen and (min-width:601px) {
    .navbar-wrapper {
        grid-auto-flow: column;
        grid-template-columns: 5fr 5fr 1fr;
        grid-template-rows: auto-fit;
    }
}
@media only screen and (max-width:601px) {
    .navbar-wrapper {
        grid-auto-flow: column;
        grid-template-columns: 8fr 3fr;
        grid-template-rows: auto-fit;
    }
}

@media only screen and (max-width:601px) {
    .nav-menu-container {
        display: none;
    }
}

@media only screen and (max-width:601px) {
    .toggle-menu {
        display: none;
    }
}

@media only screen and (min-width:992px) {
    /* *** *** Header Section MIN WIDTH 992 *** *** */
    header {
       padding: 3.7em 0em 0em 0em;
   }    
   .grid-container-header {
       grid-template-columns: 1fr 5fr 4fr 1fr;
       gap: 1em;
   }
   /* *** *** LOGO *** *** */
   .logo-header {
       margin-top: -1em;
   }
   .logo-header img {
       width: 175px;
       height: auto;
   }
   /* *** *** DATES FESTIVAL *** *** */
   .festival-date {
       justify-self: center;
       padding: 0.4em 0em 0em 0em;
   }
   /* *** *** SUBTITLES *** *** */
   .header-subtitles {
       justify-self: center;
   }
   /* *** ***  TICKET ICON *** *** */
   .ticket-icon {
       margin: -0.5em 0.5em 0em 0em;
       align-self: top;
       justify-self: center;
   }
   .ticket-icon img {
       width: 150px;
       height: auto; 
       filter: hue-rotate(340 deg);
   }
   body:has(.ticket-icon a:hover)
   .ticket-icon p {
       top: 4.6em;
       font-size: x-large;
       font-weight: 900;
   }
   body:has(.ticket-icon p:hover)
   .ticket-icon p {
       top: 4.6em;
       font-size: x-large;
       font-weight: 900;
   }
}

@media only screen and (min-width:768px) and (max-width:992px) {
    /* *** *** Header Section MIN WIDTH 768 *** *** */
    header {
       padding: 3.7em 0em 0em 0em;
   }    
   .grid-container-header {
       grid-template-columns: 0.5fr 5fr 4fr;
       gap: 1em;
   }
   /* *** *** LOGO *** *** */
   .logo-header {
       margin-top: -0.5em;
   }
   .logo-header img {
    width: 150px;
    height: auto;
}
   /* *** *** DATES FESTIVAL *** *** */
   .festival-date {
       justify-self: end;
       padding: 0.4em 0em 0em 0em;
   }
   /* *** *** SUBTITLES *** *** */
   .header-subtitles {
       justify-self: end;
       padding: 0em 1em 0em 0em;
   }
   /* *** ***  TICKET ICON *** *** */
   .ticket-icon {
        display: none;
   }
}

@media only screen and (min-width:601px) and (max-width:768px) {
    /* *** *** Header Section MAX WIDTH 768 *** *** */
    header {
       padding: 3.7em 0em 0em 0em;
   }    
   .grid-container-header {
       grid-template-columns: 1fr 10fr;
       gap: 1em;
   }
   /* *** *** LOGO *** *** */
   .logo-header {
       margin-top: -0.5em;
   }
   .logo-header img {
    width: 150px;
    height: auto;
}
   /* *** *** DATES FESTIVAL *** *** */
   .festival-date {
       justify-self: end;
       padding: 0.4em 1em 0em 0em;
   }
   /* *** *** SUBTITLES *** *** */
   .header-subtitles {
        display: none;
   }
   /* *** ***  TICKET ICON *** *** */
   .ticket-icon {
        display: none;
   }
}

@media only screen and (max-width:601px) {
    /* *** *** Header Section MAX WIDTH 601 *** *** */
    header {
       padding: 3.7em 0em 0em 0em;
   }    
   .grid-container-header {
       grid-template-columns: 1fr 10fr;
       gap: 1em;
   }
   /* *** *** LOGO *** *** */
   .logo-header {
       margin-top: -0.5em;
   }
   .logo-header img {
    width: 125px;
    height: auto;
}
   /* *** *** DATES FESTIVAL *** *** */
   .festival-date {
       justify-self: end;
       padding: 0.4em 1em 0em 0em;
   }
   /* *** *** SUBTITLES *** *** */
   .header-subtitles {
        display: none;
   }
   /* *** ***  TICKET ICON *** *** */
   .ticket-icon {
        display: none;
   }
}

@media only screen and (max-width:768px) {
    .background {
        background-image: url(../media/concert-3084876_640.jpg);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 150%;
        background-position: top;
        top: 0;
        animation: bg-img-hue 3s infinite;
        height: 350px;
    }
}

@media only screen and (max-width:768px) {
    /* *** *** NHERO BANNER Section SMALLER Screens *** *** */
    .first-section-container {
        display: none;
    }
.first-section-container1 {
    display: block;
    height: auto;
}
/* *** *** WEEKEND ACTS ANNOUNCEMENT *** *** */
.weekend-acts1 {
    position: absolute;
    margin: 0em 1em 0em 2em;
    margin-top: -12em;
}
.weekend-acts1 h1 {
    font-size: xx-large;
    font-weight: 600;
}
.weekend-acts1 h3 {
    padding: 0.5em 0.5em 0em 0.2em;
    font-weight: 300;
}
/* *** *** Countdown Clock *** *** */
.countdown-container1 {
    display: block;
    padding: 1em 2em;
    background: var(--secondaryColor);
    border-top: solid 0.2em var(--primaryColor);
}
.countdown-sub-container1 {
    opacity: 0.8;
}
.countdown-sub-container1 h2 {
    padding: 0em 0em 0.7em 0em;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    color: var(--primaryColor);
}
.digits-container1 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.clock-circle1 {
    display: grid;
    width: 3em;
    height: 3em;
    margin-right: auto;
    margin-left: auto;
    border: solid 0.1em white;
    border-radius: 50%;
}
.clock-label1 {
    display: grid;
    width: 100px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.digits-container1 h1 {
    display: grid;
    font-size: 2em;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.digits-container1 p {
    display: grid;
    font-size: 1.2em;
    font-weight: 100;
    padding-top: 0.5em;
    justify-content: center;
    align-items: center;
}
/* *** *** header subtitles *** *** */
.subtitles-cards-small {
    width: 100%;
    height: auto;
    background: var(--primaryColor);
    padding: 1em 0em 0em 0em;
    border-bottom: solid 0.2em var(--secondaryColor);
}
.header-subtitles-cards1 {
    width: auto;
    height: auto;    
    padding: 2em;
    text-align: justify;
}
.header-subtitles-cards1 h1 {
    font-size: large;
    padding: 0.5em 0em;
}
.header-subtitles-cards1 span {
    font-size: large;
    color:  var(--secondaryColor);
    font-weight: 600;
}
}

@media only screen and (max-width:768px) {
    .wave-svg-header {
        height: 15px;
    }
}
@media only screen and (min-width:768px) and (max-width:992px) {
    .wave-svg-header {
        height: 20px;
    }
}