/* *** ***  Body and background - small screen *** *** */
@media only screen and (min-width:1000px) {
    #body-home-small {
        display: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        overscroll-behavior-y: none;
        width: 100%;
        background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
        animation: fadeinmainsmall 5s linear;
        -webkit-animation: fadeinmainsmall 5s linear;
        -moz-animation: fadeinmainsmall 5s linear;
        -o-animation: fadeinmainsmall 5s linear;
    }
    #body-small {
        display: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        overscroll-behavior-y: none;
        width: 100%;
        background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    }
}

.background-small {
    display: block;
    height: 750px;
    max-width: 100%;
    background-image: url(../media/concert-3084876_640.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    animation-name: bg-img-hue, fadeinmainsmall;
    animation-duration: 3s, 4s;
    animation-iteration-count: infinite, 1;
    -webkit-animation-name: bg-img-hue, fadeinmainsmall;
    -moz-animation-name: bg-img-hue, fadeinmainsmall;
    -o-animation-name: bg-img-hue, fadeinmainsmall;
}

/* *** ***  Nav section - small screen *** *** */
#nav-bar-home-small {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background: var(--primaryColor);
    box-shadow: 0em 0em 1em 0em var(--darkGrey);
    padding: 0.5em;
    z-index: 999;
    animation: MoveDown 5.5s linear;
    -webkit-animation: MoveDown 5.5s linear;
    -moz-animation: MoveDown 5.5s linear;
    -o-animation: MoveDown 5.5s linear;
}
#nav-bar-small {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background: var(--primaryColor);
    box-shadow: 0em 0em 1em 0em var(--darkGrey);
    padding: 0.5em;
    z-index: 999;
}

@keyframes MoveDown {
    0%, 90% {
      top: -100px;
    }
    100% {
      top: 0;
    }
  }

.navbar-wrapper-small {
    display: grid;
    padding: 0.2em 0.5em;
    max-width: 100%;
    gap: 1em;
    align-items: center;
    overflow: hidden;
    grid-auto-flow: column;
    grid-template-columns: 10fr 1.5fr;
}
#navbar-title-small img {
    width: 70px;
    height: auto;
    margin: 0em 0em -0.5em 0em;
}
#navbar-title-small {
    justify-self: start;
    z-index: 99;
}
#navbar-title-small h1 {
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em var(--lightGrey);
}
/* *** ***  Toggle Menu - small screen *** *** */
.toggle-menu-small {
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    -webkit-tap-highlight-color: transparent; 
}
.toggle-menu-small #myLinks-small {
    font-size: x-large;
    display: none;
    min-height: 100vh;
    min-width: 100vw;
    text-align: right;
    background: var(--primaryColor);
    padding-top: 2em;
    -webkit-tap-highlight-color: transparent; 
}
.toggle-menu-small li {
    list-style-type: none;
}
.toggle-menu-small a {
    color: var(--lightGrey);
    text-decoration: none;
    font-weight: 100;
    line-height: 1.7em;
    padding: 0em 0.7em;
    -webkit-tap-highlight-color: transparent; 
}
.iconSmall {
    position: absolute;
    right: 5px;
    top: 5px;
    -webkit-tap-highlight-color: transparent; 
}
.fa-main-bars-small {
    content: url("../media/toggleIcon_white.svg");
    -webkit-tap-highlight-color: transparent; 
} 

.menu-title-small {
    text-align: left; 
    padding: 1.5em;
    padding-top: 16vh;
}
.menu-title-small h3 {
    color: var(--lightGrey);
    text-shadow: 0.1em 0.1em var(--secondaryColor);
    font-weight: 400;
    font-size: medium;
}
.menu-title-small img {
    width: 200px;
    height: auto;
    padding: 0.7em 0em 0.15em 0em;
}
.menu-title-small h5 {
    font-size: small;
    font-weight: 400;
}
.menu-title-small span {

    font-weight: 300;
    font-style: italic;
}

/* *** *** HERO BANNER Section - small *** *** */
#hero-banner-small {
    position: absolute;
    padding-top: 75px;
    top: 1em;
    width: 100%;
}
.weekend-acts-small {
    text-align: center;
}
.weekend-acts-small img {
    margin-top: -3.2em;
    margin-bottom: -3.5em;
    width: 375px;
    height: auto;
    filter: contrast(100%);
}
.weekend-acts-small h1 {
    color: var(--lightGrey);
    text-shadow: 0.1em 0.1em var(--secondaryColor);

    font-weight: 400;
}
.weekend-acts-small h4 {
    width: auto;
    font-weight: 400;
}
.weekend-acts-sub-small {
    text-align: center;
}
.weekend-acts-sub-small p {
    width: auto;
    font-weight: 400;
}
.weekend-acts-sub-small a {
    text-decoration: none;
    color: var(--lightGrey);
}

/* *** *** Countdown Clock *** *** */
.countdown-sub-container1 {
    display: block;
    margin: 4em 0em 2em 0em;
    padding: 0.5em;
    background: var(--primaryColor);
    opacity: 0.5;
}
.countdown-sub-container1 h2 {
    padding: 0em 0em 0.3em 0em;
    text-align: center;
    font-weight: 400;

    color: var(--lightGrey);
}
.digits-container1 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.clock-circle1 {
    width: 2.8em;
    height: 2.8em;
    margin-right: auto;
    margin-left: auto;
    border: solid 0.1em white;
    border-radius: 50%;
}
.clock-label1 {
    width: 100px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.digits-container1 h1 {
    display: grid;

    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.digits-container1 p {
    display: grid;

    font-weight: 100;
    padding-top: 0.1em;
    justify-content: center;
    align-items: center;
}

/* *** *** information Section - small *** *** */
#information-section-small {
    position: relative;
    padding: 3em 2em;
    max-width: 100%;
    height: auto;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    border-top: solid 0.2em var(--primaryColor);
    border-bottom: solid 0.2em var(--backgroundColor);
}
.information-container-small {
    width: auto;
}
.information-container-small h3 {
    color: var(--secondaryColor);

    font-weight: 600;
}
.information-container-small p {
    padding: 0.5em 0em;

}
.information-container-small span {
    position: absolute;
    padding: 0.16em 0em 0em 0.5em;
}
.information-container-small a {

    text-decoration: none;
    color: var(--lightGrey);
    font-weight: 500;
}

/* *** *** subtitles Section - small *** *** */
.subtitles-small {
    position: relative;
    text-align: center;
    margin: 1em;
}
.subtitles-small h3 {

    font-weight: 400;
    padding: 0.5em 0em;
}
.subtitles-small span {
    position: absolute;
    padding: 0.15em 0em 0em 0.5em;
}

/* *** *** subtitles Section - small *** *** */
.subtitles-small {
    position: relative;
    text-align: center;
    margin: 1em;
}
.subtitles-small h3 {

    font-weight: 400;
    padding: 0.5em 0em;
}
.subtitles-small span {
    position: absolute;
    padding: 0.15em 0em 0em 0.5em;
}

/* *** *** HIDDEN header subtitles *** *** */
.header-subtitles-cards-small {
    width: auto;
    height: auto;
    background: var(--lightGrey);
    padding: 1em;
    margin: 1em 0em;
    border-radius: 0.5em;
}
.header-subtitles-cards-small h1 {
    color: var(--secondaryColor);
}
.header-subtitles-cards-small span {
    color: var(--primaryColor);
    font-weight: 500;
}

/* *** *** Take Part  *** *** */
#take-part-section-small {
    padding: 2em;
    max-width: 100%;
    height: auto;
    background-image: url(../media/twoladysingers.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
}
.take-part-title-small {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px;
    gap: 0.1em;
}
.take-part-title-small img {
    width: 150px; 
    height: auto; 
    display: inline;
}
#take-part-section-small h1 {  
    font-size: x-large;
    font-weight: 900;
    color: var(--yellow);
    text-shadow: 2px 2px var(--primaryColor);
    align-self: center;
}
#take-part-section-small h3 {

    font-weight: 500;
    color: var(--yellow);
    text-shadow: 2px 2px 2px var(--darkGrey);
}
/* *** *** Take Part LABELS *** *** */
.take-part-card-section-small {
    display: grid;
    justify-content: center;
    padding: 1em 0em 0em 0em;
}
.take-part-card-container-small {
    width: auto;
    background: var(--backgroundColor);
    padding: 1em 0em;
    border-right: solid 0.5em var(--primaryColor);
    box-shadow: 1px 1px 10px -5px var(--lightGrey);
    border-radius: 0.5em;
}
.take-part-card-container-small-pink {
    width: auto;
    background: var(--primaryColor);
    padding: 1em 0em;
    box-shadow: 1px 1px 10px -5px var(--lightGrey);
    border-radius: 0.5em;
    margin: 0em 0em 2em 0em;
}
.take-part-card-container-small h2 {
    color: var(--primaryColor);
    font-weight: 400;
    border-left: solid 0.5em var(--primaryColor);
    padding: 0em 0em 0em 0.5em;
}
.take-part-card-container-small-pink p {
    color: var(--backgroundColor);
    padding: 0em 1em;
}
.take-part-card-container-small p {
    color: var(--secondaryColor);
    font-weight: 300;
    padding: 1em 1em 0em 1em;
}
.take-part-card-container-small b {
    font-weight: 400;
}
.take-part-card-container-small li {
    color: var(--secondaryColor);
    font-weight: 300;
}
.take-part-card-container-small ul {
    padding: 1em 3em 0em 3em;
    font-weight: 300;
    text-decoration: none;
}
.take-part-card-container-small a {
    text-decoration: none;
    font-weight: 600;
    color: var(--secon8daryColor);
}
.take-part-card-container-small span {
    position: absolute;
    margin: 0.1em 0em 0em 0.5em;
    font-weight: 600;
}

/* *** *** partners section *** *** */
#partners-section-small {
    margin-top: -125vw;
    width: auto;
    height: auto;
    background-image: linear-gradient(transparent 0%, #EB028A 50%, #692A92 100%);
    justify-items: center;
    padding: 125vw 0em 2.5em 0em;
}
.partners-title-small {
    width: auto;
    text-align: center;
}
.partners-title-small h1 {  

    font-weight: 900;
    color: var(--lightGrey);
    text-shadow: 2px 2px var(--primaryColor);
}
.partners-title-small p {  
    color: var(--ligh8tGrey);
    font-weight: 300;
    padding: 1em 2em;
}
.partners-information-small {
    width: auto;
    text-align: center;
}
.grid-item-partners-small {
    display: inline-block;
    padding: 0.5em;
    width: auto;
    height: auto;
    vertical-align: middle;
}
.grid-item-partners-small img {
    display: inline-block;
    width: 24vw; 
    height: auto;
}
.library-small {
    filter: invert(100%);
}

/* *** *** News Section *** *** */
#news-section-small {
    padding: 2em;
    margin-bottom: -1.5em;
    width: auto;
    height: auto;
    background: var(--backgroundColor);
    border-top: solid 0.2em var(--primaryColor);
}
#news-section-small h1 {  
    font-size: x-large;
    font-weight: 400;
    color: var(--secondaryColor);
    padding: 0.5em 0em 0em 0em;
}
#news-section-small span {  
    color: var(--darkGrey);
}

/* *** *** News Scroll Panel *** *** */
.panel-scroll-small {
    white-space: nowrap;
    margin: 1em 0em;
    padding: 0.1em;
    overflow: hidden;
    border-right: solid var(--secondaryColor) 5em;
    border-left: double var(--secondaryColor) 1em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.panel-scroll-small h3 {
    color: var(--darkGrey);
    transform:translateX(100%);
    animation: scroll-small 15s linear infinite;
    -webkit-animation: scroll-small 15s linear infinite;
    -moz-animation: scroll-small 15s linear infinite;
    -o-animation: scroll-small 15s linear infinite;
}
@keyframes scroll-small {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-250%);}
}

/* *** *** Sharing News *** *** */
.sharedNews-small {
    width: auto;
    margin: 1.5em 0.5em;
    text-align: justify;
}
.sharedNews-small p {
    color: var(--secondaryColor);
}
.sharedNews-small a {
    color: var(--secondaryColor);
    text-decoration: none;
    font-weight: 500;
}

/* *** *** News Items *** *** */
.newsPanelCard-small {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    margin: 1em 0em;
    background: var(--white);
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px -10px var(--darkGrey);
    padding: 1em 1.5em;
}
.newsPanelCard-small p {
    color: var(--darkGrey);
}
.newsPanelCard-small h3 {
    color: var(--darkGrey);
    padding: 0em 0em 0.5em 0em;
    font-weight: 500;
}
.newsPanelCardTopLine-small {
    display: flex;
    max-width: 100%;
}
.newsPanelCardTopLine-small p {
    color: var(--secondaryColor);
}
.newsPanelCardTopLineImage-small {
    display: flex;
    flex: 0.2;
}
.newsPanelCardTopLineName-small {
    display: flex;
    flex: 2;
    margin-left: 0.5em;
    align-items: center;
}
.newsPanelCardTopLineTime-small {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
.newsPanelCardContent-small {
    display: flex;
    flex-flow: row wrap;
    padding: 1em 0em 0em 0em;
}
.newsPanelCard-first-small {
    background: var(--primaryColor);
}
.newsPanelCard-first-small p {
    color: var(--lightGrey);
}
.newsPanelCard-first-small h3 {
    color: var(--lightGrey);
}
.newsPanelCardTopLine-first-small p {
    color: var(--secondaryColor);
}

/* *** *** Footer *** *** */
#footer-small {
    background: var(--secondaryColor);
    overflow: hidden;
}
#footer-home-small {
    background: var(--secondaryColor);
    bottom: 0;
    animation: fadeinmainsmall 5s linear;
    -webkit-animation: fadeinmainsmall 5s linear;
    -moz-animation: fadeinmainsmall 5s linear;
    -o-animation: fadeinmainsmall 5s linear;
}
.footer-container-small {
    padding: 1em 1em 7em 1em;
}
.footer-container-small img {
    position: absolute;
    width: 150px;
    height: auto;
    right: 0;
    padding: 2.7em 1.5em 0em 0em;
}
.footer-container-small h1 {
    border-bottom: solid 0.1rem var(--lightGrey);
    padding: 0em 0em 0.2em 0em;
    width: 50vw;
    color: var(--secondaryColor);
    text-shadow: 0.1em 0.1em var(--primaryColor);
}
.footer-container-small p {
    padding: 0.6em 0.3em 0.5em 0.2em;
}

/* *** *** Footer Buttons *** *** */
.footer-buttons-small {
    display: flex;
    width: 60vw;
    margin: 1em 0.2em;
    height: auto;
    padding: 0.5em;
    border-radius: 2em;
    color: var(--secondaryColor);
    background: var(--primaryColor);
    border: solid 0.1em var(--lightGrey);
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

/* *** *** Footer Copyright *** *** */
.footer-copyright-small {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background: var(--primaryColor);
    z-index: 999;
}
.footer-copyright-wrapper-small {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.footer-copyright-text-small {
    color: var(--lightGrey);
    margin-bottom: 0;
    margin-top: 0;
    font-size: small;
}

/* *** *** OTHER DECORATIVE ELEMENTS *** *** */
/* *** *** Waves *** *** */
.wave-svg-footer-small {
    width: 100%;
    height: 4em;
    background: var(--secondaryColor);
}
.wave-path-footer-small {
    fill: var(--backgroundColor);
}

/* *** *** Social Media Links *** *** */
.footer-socials-container {
    position: fixed;
    bottom: 49px;
    right: 0;
    height: 50px;
    width: 260px;
    z-index: 999;
}
.footer-socials-svg {
    height: 50px;
    width: 236px;
    fill: var(--primaryColor);
}
.footer-social-link {
    padding: 10px;
    position: absolute;
}
.instagram {
    fill: var(--secondaryColor);
    left: 12px;
    top: 12px;
}
.instagram:hover {
    fill: var(--lightGrey);
}
.tiktok {
    fill: var(--secondaryColor);
    left: 66px;
    top: 4px;
}
.tiktok:hover {
    fill: var(--lightGrey);
}
.threads {
    fill: var(--secondaryColor);
    left: 123px;
    top: 13px;
}
.threads:hover {
    fill: var(--lightGrey);
}
.facebook {
    fill: var(--secondaryColor);
    left: 171px;
    top: 10px;
}
.facebook:hover {
    fill: var(--lightGrey);
}

/* *** *** Front page loading element *** *** */
#loading-page-small {
    position: absolute;
    display: block;
    animation: cssAnimation 0s ease-in 4.9s forwards;
    -moz-animation: cssAnimation 0s ease-in 4.9s forwards;
    -webkit-animation: cssAnimation 0s ease-in 4.9s forwards;
    -o-animation: cssAnimation 0s ease-in 4.9s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 999;
}
.loading-page-container-small {
    display: grid;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    opacity: 1;
    margin: 10vh, 0em 0em 0em;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

@keyframes cssAnimation {
    to {
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        visibility:hidden;
    }
}

.loading-page-container-small img {
    margin: -7em 0em 0em 0em;
    width: 225px;
    height: auto;
}

/* *** *** ABOUT PAGE *** *** */
#main-page-small {
    margin: 2.5em 0em 0em 0em;
}
#about-small {
    padding: 1em 0em 0em 0em;
}

#information-section-about-small {
    position: relative;
    padding: 2em;
    max-width: 100%;
    height: auto;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    border-bottom: solid 0.2em var(--primaryColor);
}
.information-container-about-small {
    width: auto;
}
.information-container-about-small h3 {
    color: #eeeeee; 
    font-weight: 600;
}
.information-container-about-small p {
    padding: 0.5em 0em;
}
.information-container-about-small span {
    position: absolute;
    padding: 0.16em 0em 0em 0.5em;
}
.information-container-small-about a {
    text-decoration: none;
    color: var(--lightGrey);
    font-weight: 500;
}
#information-section-about-bottom-small {
    position: relative;
    padding: 2em;
    max-width: 100%;
    height: auto;
    background: var(--backgroundColor);
}
.information-container-about-bottom-small h3 {
    color: var(--primaryColor);
    font-weight: 600;
}
.information-container-about-bottom-small p {
    padding: 0.5em 0em 0em 0em;
    color: var(--secondaryColor);
}
.information-container-about-bottom-small a {
    text-decoration: none;
    color: var(--secondaryColor);
}
.information-container-about-bottom-small span {
    position: absolute;
    padding: 0.16em 0em 0em 0.5em;
}

/* *** *** Information Section Info Cards *** *** */
.info-cards-container-small {
    display: grid;
    gap: 2em;
    padding: 2em 0em;
    justify-content: center;
}
.info-cards-small {
    display: grid;
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 10px -5px var(--darkGrey);
    border-radius: 1rem;
    filter: drop-shadow(0.5em 0.5em var(--primaryColor));
    align-items: center;
}
.arts-small { 
    background-image: url(../media/istockphoto-1502556789-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.culture-small {
    background-image: url(../media/istockphoto-1323377064-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sports-small {
    background-image: url(../media/istockphoto-1369076485-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.advocacy-small {
    background-image: url(../media/istockphoto-1498993169-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-cards-small h1 {
    color: var(--primaryColor);
    text-shadow: 0.1em 0.1em 0em var(--secondaryColor);
    font-weight: 900;
    text-align: center;
    font-size: x-large;
}
.info-cards-small p {
    display: grid;
    padding: 0.3em;;
    background-color: var(--primaryColor);
    color: var(--lightGrey);
    font-weight: 300;
    text-align: center;
}

/* *** *** Festival Section - small *** *** */
#festival-small {
    padding: 1em 0em 0em 0em;
}
#information-section-festival-small {
    position: relative;
    padding: 2em;
    max-width: 100%;
    height: auto;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    border-bottom: solid 0.2em var(--primaryColor);
}
.information-container-festival-small {
    width: auto;
}
.information-container-festival-small h3 {
    color: #eeeeee; 
    font-weight: 600;
}
.information-container-festival-small p {
    padding: 0.5em 0em;
}
.information-container-festival-small a {
    text-decoration: none;
    color: var(--lightGrey);
}
.information-container-festival-small span {
    position: absolute;
    padding: 0.16em 0em 0em 0.5em;
}
#information-section-festival-bottom-small {
    position: relative;
    padding: 2em;
    margin-bottom: -0.1em;
    max-width: 100%;
    height: auto;
    background: var(--backgroundColor);
}
.information-container-festival-bottom-small h3 {
    color: var(--primaryColor);
    font-weight: 600;
}
.information-container-festival-bottom-small p {
    padding: 0.5em 0em 0em 0em;
    color: var(--secondaryColor);
}
.information-container-festival-bottom-small a {
    text-decoration: none;
    color: var(--secondaryColor);
}
.information-container-festival-bottom-small span {
    position: absolute;
    padding: 0.16em 0em 0em 0.5em;
}
.festival-image-festival-page-small {
    margin: 1.5em -2em;
}
.festival-image-festival-page-small img {
    min-width: 100vw;
    height: auto;
    border-top: solid 0.1em var(--backgroundColor);
    border-bottom: solid 0.1em var(--backgroundColor);
    filter: hue-rotate(300deg);
}
.partners-title-festival-small {
    width: auto;
    text-align: center;
    padding: 2em 0em 0em 0em;
    margin: 0em -2em;
    background: var(--backgroundColor);
}
.partners-title-festival-small h1 {  
    font-weight: 900;
    color: var(--secondaryColor);
    text-shadow: 2px 2px var(--white);
    padding: 0em 0em 0.5em 0em;
}
.partners-title-festival-small p {  
    color: var(--lightGrey);
    font-weight: 300;
    padding: 1em 2em;
}

/* *** *** Registration PAGE *** *** */
#registration-page-small {
    padding: 1em 0em 0em 0em;
}

#information-section-registration-small {
    position: relative;
    padding: 2em;
    max-width: 100%;
    height: auto;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    border-bottom: solid 0.2em var(--primaryColor);
}
.information-container-registration-small {
    width: auto;
}
.information-container-registration-small h3 {
    color: #eeeeee; 
    font-weight: 600;
}
.information-container-registration-small p {
    padding: 0.5em 0em;
}
.information-container-registration-small h4 {
    margin: 0.5em 0em 0em 0em;
    font-weight: 600;
    color: var(--secondaryColor);
}
.information-container-registration-small li {
    padding: 0.2em 0em 0em 0em;
}
.information-container-registration-small ul {
    padding: 0em 0em 0em 2em;
    font-weight: 300;
    text-decoration: none;
}
.information-container-registration-small a {
    text-decoration: none; 
    color: var(--secondaryColor);
    font-weight: 600;
}

/* *** *** Contact PAGE *** *** */
#contact-small {
    padding: 1em 0em 0em 0em;
}
#information-section-contact-small {
    display: grid;
    position: relative;
    width: 100vw;
    height: auto;
    background: linear-gradient(90deg, #EB028A 0%, #692A92 100%);
    border-bottom: solid 0.2em var(--primaryColor);
    overflow: hidden;
}
#envelope {
    padding: 3em 0em 1em 0em;
    width: 30%;
    height: auto;
    justify-self: center;
    animation: float 2s ease-in-out infinite;
}
#contactformpaperforms {
    padding: 0em 2em;
    width: 100%;
    height: 950px;
}
form {
    padding: 0em 0em 3em 0em;
    text-align: center;
}
.contact-form-title h1 {
    font-size: xx-large;
    text-align: center;
    font-weight: 400;
    background: linear-gradient(to right,#EB028A, #692A92, #f2f6f8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
.form-control {
    padding: 0.75em;
    margin: 0.5em 0em;
    width: 80vw;
    height: auto;
    background-color: var(--backgroundColor);
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(50, 50, 50, 0.11);
}
input,
textarea {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-buttons-small-contact-form {
    padding: 0.75em;
    margin: 0.5em 0em;
    width: 80vw;
    height: auto;
    border-radius: 2em;
    color: var(--lightGrey);
    background: var(--primaryColor);
    border: none;
    font-weight: 900;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

/* *** *** Keyframes *** *** */
@keyframes fadeinmainsmall {
    0% { opacity: 0 }
    80% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes fadeoutmainsmall {
    0% { opacity: 1 }
    80% { opacity: 1 }
    100% { opacity: 0 }
}
@keyframes rainbow_animation {
    0%, 100% {background-position: 0 0;}
    50% {background-position: 100% 0;}
}
@keyframes logo-img-hue {
    0%  { -webkit-filter: hue-rotate(0deg); }
    50% { -webkit-filter: hue-rotate(40deg); }
    100% { -webkit-filter: hue-rotate(0deg); }
}
@keyframes float {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-20px);}
  100% {transform: translateY(0px);}
}
